<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card  login-container">
         
          
        <my-tabs>
                           
              <my-tab title="पासवर्ड बदला">
                <div class="list">
                <form name="forgot_password_form" class="" novalidate>


                <!-- <input type="password" ng-model="password"> -->
                <label class="item item-input" show-hide-container>
                    <input type="password"  name="npassword" placeholder="नवीन पासवर्ड" ng-model="user.password" minlength="5" maxlength="15" required show-hide-input>
                    <span class="invalid" ng-show="!forgot_password_form.npassword.$error.required && (forgot_password_form.npassword.$error.minlength || forgot_password_form.npassword.$error.maxlength) && forgot_password_form.npassword.$dirty">पासवर्ड ५ ते १५ अक्षरांचा असावा..</span>
                    <!-- <span class="invalid" ng-show="!forgot_password_form.npassword.$error.required && forgot_password_form.npassword.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character(a number or a symbol.)</span> -->
                  </label>

                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="नवीन पासवर्ड परत लिहा"  name="confirmpassword" ng-model="user.confirmpassword" minlength="5" maxlength="15" match="user.password" required show-hide-input>
                    <span class="invalid" ng-show="forgot_password_form.confirmpassword.$error.required && forgot_password_form.confirmpassword.$dirty">आपला संकेतशब्द निश्चित करा.</span>
                    <span class="invalid" ng-show="!forgot_password_form.confirmpassword.$error.required && forgot_password_form.confirmpassword.$error.match && forgot_password_form.npassword.$dirty">पासवर्ड मॅच होत नाही.</span>
                  </label><br>

                  <div class="item item-body bottom-content">
                        <button type="button" class="button button-positive button-block" ng-click="recoverPasswordonMobile(user.confirmpassword)">
                          जतन करा
                        </button>
                  </div>
                  </form>
                </div>

              </my-tab>
        </my-tabs>
       
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            लॉग इन
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            साईन अप
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>










<!-- <ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="forgot_password_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="email" placeholder="एमैल" name="user_email" ng-model="user.email" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recover it
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
             लॉग इन
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
           साइन अप
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
 -->