<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="लॉग इन">
                <div class="list">
                  <label class="item item-input item-floating-label">
                    <input type="tel" placeholder="मोबाईल नंबर " name="userName" ng-model="login.userName" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required >
                    <span class="invalid" ng-show="!login_form.userName.$error.minLength && !login_form.userName.$error.maxLength && login_form.userName.$error.pattern" style="color:red;font-size:11px;">अवैध वापरकर्ता नाव</span>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="पासवर्ड " name="userPassword"  ng-model="login.userPassword" minlength="4" maxlength="15" required  show-hide-input>
                    <span class="invalid" ng-show="!login_form.userPassword.$error.required && (login_form.userPassword.$error.minlength || login_form.userPassword.$error.maxlength) && login_form.password.$dirty">पासवर्ड ५ ते १५ अक्षरांचा असावा.</span>
                  </label>
                  
                </div>
              </my-tab>
              
            </my-tabs>
          <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-disabled="login_form.$invalid" ng-click="doLogIn(login)" >
                लॉग इन
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.userotp">
            पासवर्ड विसरलात?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            साइन अप
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
   