<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="otp_form" class="" novalidate>
          <span>आपल्या मोबाईलवर आलेल्या SMS मधील OTP  नंबर इथे  लिहा.</span>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="OTP" name="user_otp" id="user_otp" ng-model="otp" minlength="0" maxlength="4" required>
                <span style="color:red; font-size:11px;" ng-show="!otp_form.user_otp.$error.minlength && !otp_form.user_otp.$error.maxlength && otp_form.user_otp.$error.pattern && otp_form.user_otp.$dirty">४ आकडीच OTP लिहा.</span>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="submitOTP(otp)" ng-disabled="resendStatus">
               जतन करा
              </button>
              <button type="button" class="button button-positive button-block" ng-click="resendOTP()" ng-disabled="!resendStatus">
                परत पाठवा
              </button>
            </div>
          </form>
        </div>
     
    </div>
  </ion-content>
</ion-view>
