<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title=" मोबाईल नंबर">
                <div class="list">
                  <label class="item item-input">
                    <input type="text"  placeholder="१० आकडी मोबाईल नंबर / युजर नेम " name="userName" ng-model="login.userName" ng-pattern="/^(\d)+$/" minLength="2" maxLength="10" required>
                    <span style="color:red; font-size:11px;" ng-show="!login_form.userName.$error.minLength && !login_form.userName.$error.maxLength && login_form.userName.$error.pattern">चुकीचा मोबाईल क्रमांक</span>
                    <!-- <input type="text" maxlength="10" placeholder="मोबाईल नंबर" name="userName" ng-model="login.userName">
                    <span style="color:red; font-size:11px;" ng-show="!login_form.userName.$error.minLength && !login_form.userName.$error.maxLength && login_form.userName.$error.pattern">Invalid Mobile No</span> -->
                  </label>
                </div>
              </my-tab>
              
            </my-tabs>
          <div class="item item-body bottom-content">
              <button class="button button-positive button-block"  ng-click="checkusername(login.userName)">
               मोबाईल नंबर पडताळणी
              </button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </ion-content>
</ion-view>
