<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}


.accept
{
  width: 68%;
    margin-left: 27px;
}

.eventaccpt
{
  border: hidden;
}
 
.newsp
{
    margin-left: 0px;
   margin-top: -10px;
}

 .multiple-date-picker {
    width: 86%;
    margin-left: 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-style: 0.1px solid;
  }
  .picker-day.picker-off, .picker-day.picker-off:hover {
    background-color: #607D8B;
    color: white;
    cursor: default;
  }
  .image
  {
   height: 40px;
    width: 13%!important;
    margin-top: -6%;
    margin-left: 78%;
  }

hr
  {
    border-bottom-left-radius: 2px;
    margin-left: 14px;
    margin-right: 24px;
    margin-top: -4px;
    }
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}
.customevent {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px #04c53c;
}
   
</style>


   <ion-view>
     <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="acceptedeventshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    
    <ion-nav-title>
      <span style="font-size:95%;">दैनंदिन कार्यक्रम</span>
    </ion-nav-title>

<ion-content>
 <ion-refresher pulling-text="Pull to refresh..." on-refresh="dateSelection()">
    </ion-refresher>


<div value="Show Hide DIV" ng-click="ShowHide()">
<p style="  padding-left: 25px; margin: 5px 21px -5px;padding: -22px;margin-top: 8px;" >{{date|date:'dd-MM-yyyy'}}</p>
 <img src="img/calendar.png"  class="image"  >

<hr >
</div>
<div ng-hide = "IsHidden" ng-model="date" ng-change="changedate(date)">
        <multiple-date-picker  highlight-days="myArrayOfDates" day-click="accptedeventsearch"></multiple-date-picker>
</div>



   <ion-list show-delete="false">
     <div ng-class="acceptevent.Role == 'Admin' ? 'card adminCard': acceptevent.UserId == globals[0].UserId? 'card customevent' :'card'"  ng-repeat="acceptevent in acceptedeventsdata" on-tap="specificacceptancepage(acceptevent)">
               <div class="item">
                  <p class="newsp">{{acceptevent.EventTitle}}</p>
                  <p>कधी : {{acceptevent.EventDate}}&nbsp;&nbsp;{{acceptevent.EventStartTime}}<br>
                  <p>कुठे : {{acceptevent.ProgramPlace}}</p>
                  <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
               </div>
      </div>
   </ion-list>

</ion-content>
</ion-view>