<style type="text/css">
        .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
</style>
<ion-view cache-view="false">

    <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-tabs tabs-swipable class="tabs-stable">
            <ion-tab title="दैनंदिनी"  ui-sref="app.events.acceptedevent" ng-init="dateSelection()">
                <ion-nav-view name="tab1"></ion-nav-view>
            </ion-tab>
            <ion-tab title="निमंत्रित"  ui-sref="app.events.invitedevent" ng-init="fetchinvitedevents()">
                <ion-nav-view name="tab2"></ion-nav-view>
            </ion-tab>
            <ion-tab title="परिसरातील"  ui-sref="app.events.allevent" ng-init="fetchallevents()" >
                <ion-nav-view name="tab3"></ion-nav-view>
            </ion-tab>
            
    </ion-tabs>
</ion-view>


