<style type="text/css">
.newsp
{
    margin-left: 0px;
   margin-top: -10px;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}
.customevent {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px #04c53c;
}

</style>
  <ion-view>

     <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="invitedshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
      </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">निमंत्रित कार्यक्रम</span>
    </ion-nav-title>

<ion-content>

 <ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchinvitedevents()">
    </ion-refresher>
  <ion-list show-delete="false">
         <div ng-class="invitedevents.Role == 'Admin' ? 'card adminCard': invitedevents.UserId == globals[0].UserId? 'card customevent' :'card'"  ng-repeat="invitedevents in invitedevents" on-tap="specificinvitedeventpage(invitedevents)">
               <div class="item">
                  <p class="newsp">{{invitedevents.EventTitle}}</p>
                  <p>कधी : {{invitedevents.EventDate}}&nbsp;&nbsp;{{invitedevents.EventStartTime}}<br>
                  <p>कुठे : {{invitedevents.ProgramPlace}}
                   <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
               </div>
      </div>
   </ion-list>
</ion-content>
</ion-view>