<style type="text/css">

.newspast
 {
    margin-left: 0px;
    margin-top: -8px;
}

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}
.customevent {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px #04c53c;
}
</style>


<ion-view ng-init="fetchpastevents()">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="pasteventshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

    
    <ion-nav-title>
      <span style="font-size:95%;">झालेले कार्यक्रम</span>
    </ion-nav-title>

<ion-content>
<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchpastevents()">
    </ion-refresher>
 <ion-list show-delete="false">
         <div ng-class="pastevent.Role == 'Admin' ? 'card adminCard': pastevent.UserId == globals[0].UserId? 'card customevent' :'card'"  ng-repeat="pastevent in pasteventsdata" on-tap="specificpasteventpage(pastevent)">
               <div class="item">
                  <p class="newsp">{{pastevent.EventTitle}}</p>
                  <p>कधी : {{pastevent.EventDate}}&nbsp;&nbsp;{{pastevent.EventStartTime}}<br>
                  <p>कुठे : {{pastevent.ProgramPlace}}

                   <i class="icon ion-eye eyeicon" data-toggle="tooltip" title="बघा"></i>
               </div>
      </div>
   </ion-list>
</ion-content>
</ion-view>









  