<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.ion-ios-trash-outline:before {
    content: "\f4c4";
    color: #fafafa;
    font-size: 20px;
}

</style>

<ion-view class="post-view">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="userdetailshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
      <ion-nav-title>
        <span> विस्तृत माहिती</span>
      </ion-nav-title>

      <ion-content>
  
            <div class="post-heading item item-text-wrap">
              <h3 class="post-title">{{customeventlist.EventTitle}}</h3>
              <p class="post-author">
                <span>{{customeventlist.EventDate}}</span>
              </p>
            </div>

            <div class="post-heading item item-text-wrap">
                <div  ng-if="customeventlist.IsTimeRange == 'True'">
                  <p >{{customeventlist.EventStartTime}} &nbsp; {{customeventlist.EventEndTime}}</p>
                </div>

                <div ng-if="customeventlist.IsTimeRange == 'False'">
                  <p >{{customeventlist.EventStartTime}}</p>
                </div>
            </div>

            <br>

            <div class="post-tags item item-text-wrap" ng-if="customeventlist.EventDescription !== null">
             <p class="post-text" style="white-space: pre-wrap;" ng-bind-html="customeventlist.EventDescription"></p>
           </div>

            <div class="post-content item item-text-wrap" post-content>

              <p class="post-text" ng-if="customeventlist.ProgramPlace !== null">कुठे : {{customeventlist.ProgramPlace}}</p>
            <!--   <p class="post-text" ng-if="customeventlist.ProgramAddress !== null">{{customeventlist.ProgramAddress}} </p> -->

              <br>
                <div ng-if="customeventlist.ImageUrl1 !=''">
                    <ion-slide-box show-pager="true">
                          <ion-slide ng-repeat="i in [customeventlist.ImageUrl1,customeventlist.ImageUrl2] track by $index" >
                            <div class="list card">
                              <div class="item item-image">
                                <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                              </div>
                            </div>
                          </ion-slide>
                  </ion-slide-box>
                </div>
                
            </div>
                  
            <br>

            
      
     
    </ion-content>

        <ion-footer-bar class="post-footer bar bar-footer bar-dark footer1">
          <div class="row ">
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>
          <div class="col col-50 col-center" >
            <i class="icon ion-ios-trash-outline" style="color: white;" ng-click="deletemycustomevent(customeventlist.EventListId)" >&nbsp;&nbsp;काढुन टाका</i>
          </div>
           </div>
        </ion-footer-bar>
</ion-view>