<style type="text/css">


table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 13px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.trhover:hover{
	background-color:#f5f5f5
}
.heading{
	background-color: #4db6ac;
	font-weight: bold!important;
}
</style>

<ion-view>

  <ion-nav-title>
    <span>आजचे वाढदिवस</span>
  </ion-nav-title>

  <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>

	  <ion-content>

	
	 </ion-content>
  </ion-view>