<style type="text/css">
  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>
<ion-view class="miscellaneous-view">
      
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      </ion-nav-buttons>

      <ion-nav-title>
        <span>अत्यावश्यक सुचना</span>
      </ion-nav-title>

  <ion-content>

  <div class="card">
   

    <div class="item" ng-repeat="note in notes" >
           <!--  <h2>{{news.Role}}</h2> -->
              <h2> {{note.payload.title | limitTo: 150}}</h2>
                        
              <p style="white-space: pre-wrap;" ng-bind-html="note.payload.body"> 
             </p>
             <div class="col col-50 col-center" >
       <i class="icon ion-ios-trash-outline"  ng-click="deleteNote(note)" >&nbsp;&nbsp;काढुन टाका</i>
      </div>

        </div>
  </div>
    
  </ion-content>


 
</ion-view>
