<style type="text/css">

 .logorate{
  width: 100px;
  padding-top: 22px;
 }

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}
.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.rowdata{
  background-color: #f3f3f3;
}

.people
{
    background-color: white !important;
}


</style>
<ion-view class="people">
  
  <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="peopleshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>
  
    <ion-nav-title>
        <span style="font-size:95%;">माझा प्रभाव</span>
    </ion-nav-title>
 <ion-content>
      <img src="img/wide-screen2.jpg" class="wideimage">
        <br><br>
        <div>
           <p style="font-size: 109%;margin-left: 8px;margin: 0px 10px 10px;text-align: justify;">माझ्या मित्र परिवारात, सग्या-सोयऱ्यात, गावकी-भावकी मध्ये भव्यदिव्य अॅप प्रसारासाठी मी घेतलेल्या पुढाकारामुळे आत्तापर्यंत <a href="" style="font-size: 20px;text-decoration: none;color: #FF5722;
" ng-click="getpeoplelist()">{{refcountdata.RefCount}}</a> लोकांनी भव्यदिव्य अॅप डाऊनलोड केले आहे.</p>
        </div>

        

     <div class="row"><div class="col">
     <a class="button button-block eventsearchbtn" ng-click="openBrowser()"> संदेश पाठवा​</a> 
     </div></div>
     <div  style="width:100%;margin-left:0px;">

      <div class="row header">
          <div class="col col-20 row1 rowdata">नं.</div>
          <div class="col col-30">नाव</div>
          <div class="col col-30 rowdata">मोबाईल</div>
      </div>
      
      <div class="row" ng-repeat="people in peoplelistdata">
          <div class="col col-20 row1 rowdata">{{$index+1}}</div>
          <div class="col col-30">{{people.Name}}</div>
          <div class="col col-30 rowdata">{{people.MobileNo1}}</div>
      </div>

    </div>
        
     
    </ion-content>
</ion-view>