<style type="text/css">
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
</style>
<ion-view cache-view="false">

    <ion-nav-title>
    	<span>जाहीर नोटीस</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-tabs tabs-swipable class="tabs-stable ">
        
        <ion-tab title="समाविष्ट करा"  ui-sref="app.submittoadmin.submittoadmin" >
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="शेअर करा"  ui-sref="app.submittoadmin.shareapp">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="माझा प्रभाव"  ui-sref="app.submittoadmin.peoplelist" >
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    
</ion-view>

