


<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.ion-ios-trash-outline:before {
    content: "\f4c4";
    color: #fafafa;
    font-size: 20px;
}

</style>

<ion-view class="post-view">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="detailusernoticeshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
      <ion-nav-title>
        <span> विस्तृत माहिती</span>
      </ion-nav-title>

      <ion-content>
  
            <div class="post-heading item item-text-wrap">
            <p class="post-author">
                <span>{{detailusernoticelist.SubmittedBy}} यांनी हि जाहीर नोटीस समाविष्ठ केली</span>
              </p><br><br>
              <h3>तालुका : {{detailusernoticelist.Taluka}}</h3>
              <p class="post-author">
                <span>गाव : {{detailusernoticelist.Village}}</span>
              </p>
            </div>
            <br>

            <div class="post-heading item item-text-wrap">
                <p>गट/सर्वे नं : {{detailusernoticelist.SurveyNo}}</p>
                <p>प्रकाशन दिनांक : {{detailusernoticelist.PublishDate}}</p>
                <p>वर्तमानपत्र : {{detailusernoticelist.NewsPaper}}</p>
            </div>

            <div class="post-content item item-text-wrap" post-content>
                <div ng-if="detailusernoticelist.ImageUrl1 !=''">
                    <ion-slide-box show-pager="true">
                          <ion-slide ng-repeat="i in [detailusernoticelist.ImageUrl1,detailusernoticelist.ImageUrl2] track by $index" >
                            <div class="list card">
                              <div class="item item-image">
                                <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                              </div>
                            </div>
                          </ion-slide>
                  </ion-slide-box>
                </div>
            </div>

      
     
    </ion-content>

        <ion-footer-bar class="post-footer bar bar-footer bar-dark footer1">
          <div class="row ">
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-50 col-center" >
              <i class="icon ion-ios-trash-outline" style="color: white;" ng-click="deletemynotices(detailusernoticelist.NoticeId)">&nbsp;&nbsp;काढुन टाका</i>

            </div>
           </div>
        </ion-footer-bar>
</ion-view>