<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.eventsearch
  {
        border: hidden;
  }

.eve
{
  width: 90%;
  border-radius: 12px;   
}
.personalevent
  {
   background-color: white!important;
  }
  .header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}
.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.rowdata{
	background-color: #f3f3f3;
}

</style>
<ion-view class="feeds-categories-view personalevent" >
		


    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="insertshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
 
	  <ion-nav-title>
	    <span style="font-size:95%;"> नोटीस भरा</span>
	  </ion-nav-title>

  <ion-content>

  <br>
  	<form name="feeds_form" class="" novalidate ng-cloak>
		<div class="list">

		  <label class="item item-input listborder" >
		    <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.StateId" ng-change="district(notice.StateId)" style="width: 192px;!important;height: 40px;padding-left:10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.DistrictId" ng-change="selTaluka(notice.DistrictId)" style="width: 192px;!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"  required >
		    	<option value="" selected> निवडा</option>
		        <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
		       
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.TalukaId" ng-change="village(notice.TalukaId)" style="width: 192px;!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
		       
		    </select>
		  </label>


		  <label class="item item-input listborder">
		    <span class="input-label">गाव / उपनगर  <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.VillageId" style="width: 192px;!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{village.VillageId }}" ng-repeat="village in villages" >{{village.Village}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input eventsearch eve">
			    <span class="input-label"> गट /सर्वे नं <font style="color:red;">*</font></span><br>
			    <input type="text" name="sarveyno" ng-model="notice.surveyno" style="border-radius:5px;height:40px;width:10px;background-color:#eaeaea;margin-left: 15px;padding-left:13px;" ng-pattern="/^(\d)+$/" minLength="0" maxLength="50" required>
			    <span style="color:red; font-size:11px;" ng-show="!feeds_form.sarveyno.$error.minLength && !feeds_form.sarveyno.$error.maxLength && feeds_form.sarveyno.$error.pattern">Invalid sarvey No</span>
		</label>

		<label class="item item-input listborder">
		    <span class="input-label">वर्तमानपत्र  <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.NewsPaperId" style="width: 192px;!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{newspaper.NewsPaperId }}" ng-repeat="newspaper in getnewspaperlist" >{{newspaper.NewsPaper}}</option>
		        
		    </select>
		</label>

		<label class="item item-input eventsearch eve">
          <span class="input-label">प्रकाशन दिनांक<font style="color:red;">*</font></span> 
          <ionic-datepicker input-obj="datepickerObject">
           <input type="button"  class="button button-small" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}" name="fromdate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;padding-right: 105px;"   required>
          </ionic-datepicker>
        </label>

		<div>
        <label class="myFile">
            <!-- <img src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" style="height:35px;width:35px"alt="" /> -->
            <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
            <input type="file" ng-model="image1" fileread="image1" accept="image/*">
        </label>
        <div >
            <b ng-if="image1" style="margin-left: 70px;" >पहा:</b><br/>
            <i ng-hide="image1">प्रतिमा निवडा</i>
             <span><img ng-if="image1" src={{image1}} style="height:120px;width: 285px;"><br/></span>
        </div>
    </div>
<br>

    <div>
          <label class="myFile">
               <!--  <img src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" style="height:35px;width:35px"alt="" /> -->
               <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
                 <input type="file"   ng-model="image" fileread="image" accept="image/*">
          </label>
          <div> <b ng-if="image"style="margin-left: 70px;">पहा:</b><br/>
              <i ng-hide="image">प्रतिमा निवडा</i>
              <span><img ng-if="image" src={{image}} style="height: 120px;width: 285px;" ><br/></span>
          </div>
          
     </div>    
		 <br>
		<div class="row">
                    <div class="col">
                      <button type="submit" class="button  button-block eventsearchbtn" name="filter" ng-click="insertnotice(notice.VillageId,notice.surveyno,notice.NewsPaperId,image1,image)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                    </div>

                    <div class="col">
                     <button type="reset" ng-click="resetnoticedata()" class="button  button-block eventsearchbtn" name="filter">पूर्ववत</button>
                    </div>
    </div>

		</div>
	</form>
 </ion-content>
</ion-view>