<style type="text/css">
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
</style>
<ion-view cache-view="false">

    <ion-nav-title>
    	<span>जाहीर नोटीस</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-tabs tabs-swipable class="tabs-stable ">
        <ion-tab title="निवडक"  ui-sref="app.publicnotice.getnoticelist">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="शोधा"  ui-sref="app.publicnotice.searchnotice">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="भरा"  ui-sref="app.publicnotice.Insertnotice">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
       
    </ion-tabs>
    
</ion-view>

