<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.eventsearch
  {
        border: hidden;
  }

.eve
{
  width: 90%;
  border-radius: 12px;   
}
.personalevent
  {
   background-color: white!important;
  }
  .header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.mainrow{
	background-color: #fdfdfd;
}
.rowdata{
	background-color: #f3f3f3;
}
</style>
<ion-view class="feeds-categories-view personalevent" >
		


    <ion-nav-buttons side="right">
         <button class=" button button-icon" ng-click="searchnoticeshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
 
	  <ion-nav-title>
	    <span style="font-size:95%;"> जाहीर नोटीस</span>
	  </ion-nav-title>

  <ion-content>

<br>
  	<form name="feeds_form" class="" novalidate ng-cloak>
		<div class="list">

		  <label class="item item-input listborder" >
		    <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.StateId" ng-change="district(events.StateId)" style="width: 192px!important;height:40px;padding-left:10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.DistrictId" ng-change="selTaluka(events.DistrictId)" style="width: 192px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required >
		    	<option value="" selected> निवडा</option>
		        <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
		       
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.TalukaId" ng-change="village(events.TalukaId)" style="width: 192px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
		       
		    </select>
		  </label>


		  <label class="item item-input listborder">
		    <span class="input-label">गाव / उपनगर  <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.VillageId" style="width: 192px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{village.VillageId }}" ng-repeat="village in villages" >{{village.Village}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input eventsearch eve">
			    <span class="input-label"> गट /सर्वे नं </span><br>
			    <input type="text" name="surveyno" ng-model="events.surveyno" style="border-radius:5px;height:40px;width:10px;background-color:#eaeaea;margin-left: 15px;padding-left:13px;" ng-pattern="/^(\d)+$/" minLength="0" maxLength="50">
			    <span style="color:red; font-size:11px;" ng-show="!feeds_form.surveyno.$error.minLength && !feeds_form.surveyno.$error.maxLength && feeds_form.surveyno.$error.pattern">Invalid sarvey No</span>
		</label>
		



		  <br>

		    <div class="row">
               <div class="col">
                  <button type="reset" class="button  button-block eventsearchbtn" name="filter" ng-click="searchnotice(events.VillageId,events.surveyno)"ng-disabled="feeds_form.$invalid">शोधा</button>
                </div>
          	</div>

		</div>
	</form>

	<br>

    <div style="width:100%;margin-left: 0px;">
    	<div class="row header">
            <div class="col col-30 row1 rowdata">प्रकाशन दिनांक</div>
            <div class="col col-30">गाव</div>
            <div class="col col-20">गट/सर्वे नं</div>
       </div>
        <div class="row" ng-repeat="searchnotice in searchnoticedata" on-tap="searchsurveynoticepage(searchnotice)">
          <div class="col col-30 row1 rowdata">{{searchnotice.PublishDate}}</div>
          <div class="col col-30 rowdata" >{{searchnotice.Village}}</div>
          <div class="col col-20 mainrow rowdata">{{searchnotice.SurveyNo}}</div>
        </div>
       
     </div>
 </ion-content>
</ion-view>