<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="लॉग इन">
                <div class="list">
                  <label class="item item-input">
                    <input type="number" placeholder="नाव" name="userName" required ng-model="login.userName">
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="पासवर्ड " name="userPassword"required show-hide-input ng-model="login.userPassword">
                  </label>
                  
                </div>
              </my-tab>
              
            </my-tabs>
          <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)" ng-click="submitlogin()"
            >
                लॉग इन
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
           विसरलात पासवर्ड?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            साइन अप
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
