
<ion-view class="signup-view" cache-view="false">
  
  <ion-content scroll="false">
    <div class="row" style="margin-left:2px;">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form  name="signup_form" >
          
              <div class="form group-row" >
              <label class="item item-input" style="background-color:#5b5b5b;">
              <span class="input item-label" style="margin-left:128px;color:white;">साइन अप</span><br>
              </label>
              </div>
              
              <label class="item item-input  eventsearch eve">
                <span class="input-label">नाव <font style="color:red;">*</font></span> 
                 <input type="text"  name="fName" id="fName"  placeholder="नाव'" ng-model="signup.fName" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="2" maxLength="20" style="border-radius:5px;height:40px;width:10px;background-color:#eaeaea;margin-left: 15px;"  required ><wbr>
                  <p style="color:red; font-size:11px;" ng-show="!signup_form.fName.$error.minLength && !signup_form.fName.$error.maxLength && signup_form.fName.$error.pattern && signup_form.fName.$dirty">Invalid name</p>
              </label>

            
              <label class="item item-input item-floating-label" ng-if="signup.maritalStatus == 'married'">
                  <input type="text"  name="mName" id="mName"  placeholder="वडिलांचे नाव" ng-model="signup.mName" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="2" maxLength="20" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.mName.$error.minLength && !signup_form.mName.$error.maxLength && signup_form.mName.$error.pattern && signup_form.mName.$dirty">Invalid middlename</span>
              </label>

              <label class="item item-input item-floating-label" ng-if="signup.maritalStatus == 'unmarried' ">
                  <input type="text"  name="husbandname" id="husbandname"  placeholder="पतीचे नाव" ng-model="signup.husbandname" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="2" maxLength="20" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.husbandname.$error.minLength && !signup_form.husbandname.$error.maxLength && signup_form.husbandname.$error.pattern && signup_form.husbandname.$dirty">Invalid husbandname</span>
              </label>

              <label class="item item-input item-floating-label">
                  <input type="text"  name="surName" id="surName" placeholder="आडनाव" ng-model="signup.surName" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="2" maxLength="20" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.surName.$error.minLength && !signup_form.surName.$error.maxLength && signup_form.surName.$error.pattern && signup_form.surName.$dirty">Invalid surname</span>

              </label>

              <!-- <div class="item item-divider" style="background-color: white;height: 48px;padding-top: 15px;">
                <input type="radio" name="gender" value="male"  ng-model="signup.gender">स्त्रि 
                <input type="radio" name="gender" value="female" ng-model="signup.gender" style="margin-left: 42px;">पुरुष
              </div>

              <div class="item item-divider" style="background-color: white;height: 48px;padding-top: 15px;">
                <input type="radio" name="maritalStatus" value="married"  ng-model="signup.maritalStatus"> अविवाहित 
                <input type="radio" name="maritalStatus" value="unmarried"  ng-model="signup.maritalStatus"> विवाहित
              </div> -->

                <label class="item item-input" >
                        <span class="input-label">लिंग</span><br>
                        <select name="gender"  class="item-select selectothers"  required>
                            <option value="" selected="">लिंग निवडा </option>
                           <option ng-value="स्त्रि" >स्त्रि </option>
                            <option ng-value="पुरुष">पुरुष</option>
                        </select><br>
                 </label>

                 <label class="item item-input" >
                        <span class="input-label">वैवाहिक स्थिती</span><br>
                        <select name="gender"  class="item-select selectothers"  required>
                            <option value="" selected="">वैवाहिक निवडा </option>
                           <option ng-value="अविवाहित" >अविवाहित </option>
                            <option ng-value="विवाहित">विवाहित</option>
                        </select><br>
                 </label>

               

              <label class="item item-input item-floating-label">
                  <input type="text"  name="mobileno" id="mobileno" placeholder="मोबाइल फोन" ng-model="signup.mobileno" ng-pattern="/^(\d)+$/" minLength="2" maxLength="10" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.mobileno.$error.minLength && !signup_form.mobileno.$error.maxLength && signup_form.mobileno.$error.pattern">Invalid Mobile No</span>
              </label>


               <label class="item item-input item-floating-label">
               <!-- <span class="input-label">जन्मदिनांक</span>  -->
                  <input type="date"  name="user_birthdate" id="Birth_date" placeholder="जन्मदिनांक" ng-model="signup.Birth_date" required>
              </label>

             <label class="item item-input item-floating-label">
                  <input type="text" placeholder="वापरकर्ता नाव" name="username"  ng-model="signup.userName" ng-pattern="/^(\d)+$/" minLength="2" maxLength="10" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.username.$error.minLength && !signup_form.username.$error.maxLength && signup_form.username.$error.pattern">Invalid Mobile No</span>
              </label>

              <label class="item item-input item-floating-label">
                 
                  <input type="password" placeholder="पासवर्ड " name="password" ng-model="signup.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" minlength="5" maxlength="15" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.password.$error.required && (signup_form.password.$error.minlength || signup_form.password.$error.maxlength) && signup_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.password.$error.required && signup_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character(a number or a symbol.)</span>
              </label>

              <label class="item item-input item-floating-label">
                 <input type="text"  name="refNo" id="refNo"  placeholder="रेफरन्स नं. इंग्रजी  मध्ये भरा"  ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="2" maxLength="20" required ><wbr>
        
              </label>

              <ion-checkbox ng-model="filter.blue">नियम व अटी मान्य<a href="#" ></a></ion-checkbox><br>
                    
              <center>   
                <button type="submit" class="button  eventsearchbtn" style="margin-bottom:10px;color:white"  ng-click="addRegistration()" ng-disabled="signup_form.$invalid" ui-sref="auth.otp">साइन अप</button>
              </center>  
              
            </form>
          </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            लॉग इन
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>