
<ion-view class="signup-view" cache-view="false">
  
  <ion-content scroll="true">
    <div class="row" style="margin-left:2px;">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form  name="signup_form" >
          
              <div class="form group-row" >
              <label class="item item-input" style="background-color:#5b5b5b;">
              <span class="input item-label" style="margin: auto;color:white;">साइन अप (इंग्रजीत भरा)</span><br>
              </label>
              </div>

             <label class="item item-input item-floating-label">
                 <input type="text"  name="refNo" id="refNo"  placeholder="६ आकडी रेफरन्स नंबर इंग्रजी मध्येच भरा."  ng-pattern="/^(\d)+$/" minlength="6" maxlength="6" ng-model="signup.refNo" required ng-blur="CheckReference(signup.refNo)">
                 <span style="color:red; font-size:11px;" ng-show="signup_form.refNo.$pristine|| signup_form.refNo.$error.required && signup_form.refNo.$dirty"> रेफरन्स नंबर भरा.</span>
                 <span style="color:red; font-size:11px;" ng-show="signup_form.refNo.$error.pattern">फक्त आकड्यात भरा</span>
                 <span style="color:red; font-size:11px;" ng-hide="refok==1">कृपया योग्य रेफरन्स नं. लिहा.</span>
                 <span style="color:red; font-size:11px;" ng-show="signup_form.refNo.$error.minlength || signup_form.refNo.$error.maxlength ">६ आकडी रेफरन्स नंबर भरा.</span>
                 
     
            </label>


               <label class="item item-input item-floating-label">
                  <input type="text"  name="surName" id="surName" placeholder="आडनाव" ng-model="signup.surName" minLength="2" maxLength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/" required>
                  <span style="color:red; font-size:11px;" ng-show="signup_form.surName.$error.minlength || signup_form.surName.$error.maxlength || signup_form.surName.$error.pattern && signup_form.surName.$dirty">आडनाव अचूक लिहा</span>

              </label>
              
              <label class="item item-input item-floating-label">
                 <input type="text"  name="fName" id="fName"  placeholder="नाव" ng-model="signup.fName"  minlength="2" maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/"   required >
                  <span style="color:red; font-size:11px;" ng-show="signup_form.fName.$error.minlength || signup_form.fName.$error.maxlength || signup_form.fName.$error.pattern && signup_form.fName.$dirty">नाव अचूक लिहा</span>
              </label>

              <label class="item item-input" >
                   <select name="gender"  class="item-select" ng-model="signup.gender" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;"  required>
                      <option value="" selected="">लिंग निवडा </option>
                      <option value="female" ng-model="signup.gender">स्त्रि </option>
                        <option value="male" ng-model="signup.gender">पुरुष</option>
                    </select><br>
              </label>

                 <label class="item item-input" >
                        <select name="gender"  class="item-select" ng-model="signup.maritalStatus" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;"   required>
                            <option value="" selected="">वैवाहिक स्थिती </option>
                           <option value="unmarried" ng-model="signup.maritalStatus" >अविवाहित </option>
                            <option value="married"  ng-model="signup.maritalStatus">विवाहित</option>
                        </select><br>
                 </label>

                <label class="item item-input item-floating-label" ng-if="signup.maritalStatus == 'unmarried' || signup.gender!='female' ">
                  <input type="text"  name="mName" id="mName"  placeholder="वडिलांचे नाव" ng-model="signup.mName" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/" required>
                    <span style="color:red; font-size:11px;" ng-show="signup_form.mName.$error.minlength || signup_form.mName.$error.maxlength || signup_form.mName.$error.pattern && signup_form.mName.$dirty">मधले नाव अचूक लिहा</span>
              </label>

              <label class="item item-input item-floating-label" ng-if="signup.maritalStatus == 'married' && signup.gender!='male' ">
                  <input type="text"  name="husbandname" id="husbandname"  placeholder="पतीचे नाव" ng-model="signup.mName" ng-pattern="/^[a-zA-Z\-\_ ]*$/" ng-minlength="2" ng-maxlength="20" required>
                  <span style="color:red; font-size:11px;" ng-show="signup_form.husbandname.$error.minlength || signup_form.husbandname.$error.maxlength && signup_form.husbandname.$error.pattern && signup_form.husbandname.$dirty">पतीचे नाव अचूक लिहा</span>
              </label>

              <label class="item item-input">
                  <ionic-datepicker input-obj="datepickerObject"><p style="color: rgba(158, 158, 158, 0.8);">जन्मतारिख</p>
                   <input type="button"  class="button button-small" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}" name="fromdate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;padding-right: 105px;"   required>
                  </ionic-datepicker>
             </label>

               
<!-- 
              <label class="item item-input item-floating-label">
                  <input type="text"  name="mobileno" id="mobileno" placeholder="१० आकडी मोबाईल नंबर / युजर नेम " ng-model="signup.mobileno" ng-pattern="/^(\d)+$/" minLength="2" maxLength="10" required>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.mobileno.$error.minLength && !signup_form.mobileno.$error.maxLength && signup_form.mobileno.$error.pattern">Invalid Mobile No</span>
              </label> -->


             <label class="item item-input item-floating-label">
                  <input type="tel" placeholder="१० आकडी मोबाईल नंबर" name="mobileno"  ng-model="signup.userName"  minlength="10" maxlength="10" ng-pattern="/^(\d)+$/" required>
                  
                  <span style="color:red; font-size:11px;" ng-show="signup_form.mobileno.$dirty && signup_form.mobileno.$error.pattern">फक्त आकड्यात भरा</span>
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.mobileno.$error.required && (signup_form.mobileno.$error.minlength || signup_form.mobileno.$error.maxlength) && signup_form.mobileno.$dirty">१० आकडी मोबाईल नंबर भरा</span>
              </label>

              <label class="item item-input " show-hide-container>
                 
                  <input type="password" placeholder="पासवर्ड " name="password" ng-model="signup.password"  minlength="5" maxlength="15" required show-hide-input >
                  <span style="color:red; font-size:11px;" ng-show="!signup_form.password.$error.required && (signup_form.password.$error.minlength || signup_form.password.$error.maxlength) && signup_form.password.$dirty">पासवर्ड ५ ते १५ अक्षरांचा असावा.</span>
                  <!-- <span style="color:red; font-size:11px;" ng-show="!signup_form.password.$error.required && signup_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character(a number or a symbol.)</span> -->
              </label>

            <div class="row">
                  <div class="col">
                       <button type="submit" class="button  button-block eventsearchbtn" style="margin-bottom:10px;color:white" ng-disabled="!enable"  ng-click="addRegistration()" ng-if="signup_form.$valid && refok==1 && refok" >साइन अप</button>
                  </div>
            </div>  
              
            </form>
          </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            लॉग इन
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>