<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
      <!-- //<img ng-src="img/logo.png">  -->
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block button-stable" ui-sref="auth.login">
          लॉग इन
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="auth.signup">
          साइन अप
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
