<style type="text/css">

.hallname{
  color: #dd3472!important;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>


<ion-view class="post-view">

 <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="detaileventderachshowconfrm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
   <ion-nav-title>
      <span style="font-size:95%;">विस्तृत माहिती</span>
    </ion-nav-title>

  <ion-content>
  
        <div class="post-heading item item-text-wrap">
          <h3 class="post-title">{{detaileventsearchlist.EventTitle}}</h3>
          <br>
           <p class="post-author">
            <span>{{detaileventsearchlist.SubmittedBy}}</span>&nbsp;यांनी हा कार्यक्रम समाविष्ठ केला
          </p><br><br>
          <p class="post-author">
            <span>{{detaileventsearchlist.EventDate}}&nbsp;&nbsp;</span>
          </p>
        </div>
       
       <div class="post-heading item item-text-wrap">
                <div  ng-if="detaileventsearchlist.IsTimeRange == 'True'">
                  <p >{{detaileventsearchlist.EventStartTime}} ते {{detaileventsearchlist.EventEndTime}}</p>
                </div>

                <div ng-if="detaileventsearchlist.IsTimeRange == 'False'">
                  <p >{{detaileventsearchlist.EventStartTime}}</p>
                </div>
       </div>

       <br>

        <div class="post-tags item item-text-wrap" ng-if="detaileventsearchlist.EventDescription !== null">
             <p class="post-text">{{detaileventsearchlist.EventDescription}}</p>
       </div>

        

        <div class="post-content item item-text-wrap" post-content>
         
          <p class="post-text">कुठे : {{detaileventsearchlist.ProgramAddress}}</p>
          <!-- <p class="post-text">{{detaileventsearchlist.ProgramAddress}}</p> -->

            <div ng-if="detaileventsearchlist.ImageUrl1 !=''">
              <ion-slide-box show-pager="true">
                    <ion-slide ng-repeat="i in [detaileventsearchlist.ImageUrl1,detaileventsearchlist.ImageUrl2] track by $index" >
                      <div class="list card">
                        <div class="item item-image">
                          <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                        </div>
                      </div>
                    </ion-slide>
            </ion-slide-box>
            </div>

        </div>


          <div class="post-tags item item-text-wrap row">
              <button ng-disabled="isDisabled" class="obj col col-30" ng-click="insertacceptedevents(detaileventsearchlist.EventListId)" data-toggle="tooltip" title="स्वीकार">स्वीकार&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button ng-click="insertgreetevent(detaileventsearchlist.EventListId)" ng-disabled="isDisabledwish" class="obj col col-30" data-toggle="tooltip" title="अभिवादन">अभिवादन</button>
          </div>
      
</ion-content>

      <ion-footer-bar class="post-footer bar bar-footer bar-dark footer1">
        <div class="row ">
          <div class="col col-20 col-center">
            <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
          </div>
          <div class="col col-20 col-center">
            <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
          </div>
         </div>
      </ion-footer-bar>
</ion-view>