<style type="text/css">
.newsp 
{
   margin-top: -10px;
}

.ion-chevron-right:before {
    content: "\f125";
    float: right;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}
.customevent {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px #04c53c;
}
</style>

<ion-view >

    <!--  <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons> -->

    <ion-nav-title>
      <span style="font-size:95%;"> कार्यक्रम शोधा</span>
    </ion-nav-title>

	  <ion-content>

      <ion-list>
         <div ng-class="eventsearchdata.Role == 'Admin' ? 'card adminCard': eventsearchdata.UserId == globals[0].UserId? 'card customevent' :'card'"  ng-repeat="eventsearchdata in eventsearchlist" on-tap="specificeventsearchpage(eventsearchdata)">
               <div class="item">
                  <p class="newsp">{{eventsearchdata.EventTitle}}</p>
                  <p>कधी : {{eventsearchdata.EventDate}}&nbsp;&nbsp;{{eventsearchdata.EventStartTime}}<br>
                  <p>कुठे : {{eventsearchdata.ProgramPlace}}
                  <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
               </div>
      </div>
   </ion-list>
	 </ion-content>
  </ion-view>