

<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.eve
{
  width: 91%;
  border-radius: 12px;   
}
.eventsearch
{
      border: hidden;
}

.eventsr
{
    background-color: white !important;
}

</style>

<ion-view class="miscellaneous-view eventsr">

    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">कार्यक्रम शोधा</span>
    </ion-nav-title>

    <ion-content>

    <br>

    <form name="miscellaneous_form" class="" novalidate ng-cloak>
      

        <label class="item item-input eventsearch">
          <span class="input-label">कार्यक्रमाचा प्रकार </span>
          <select name="state"  class="item-select" ng-model="events.eventTypeId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-change="changeeventname(events.eventTypeId)">
            <option value="" selected> निवडा</option>
              <option value="{{eventtype.EventTypeId}}" ng-repeat="eventtype in eventtypedata" >{{eventtype.EventType}}</option>
           </select>
        </label>

        <label class="item item-input eventsearch">
          <span class="input-label">कार्यक्रम</span>
          <select name="state"  class="item-select" ng-model="events.eventId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
            <option value="" selected> निवडा</option>
              <option value="{{eventname.EventId}}" ng-repeat="eventname in eventnamedata" >{{eventname.EventName}}</option>
           </select>
        </label>



        <label class="item item-input listborder" >
          <span class="input-label">राज्य <font style="color:red;">*</font></span>
          <select name="state"  class="item-select" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-model="events.StateId" ng-change="district(events.StateId)" required>
              <option value="" selected> &nbsp; &nbsp;निवडा &nbsp; &nbsp;</option>
              <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
           </select><br>
        </label>

        <label class="item item-input listborder">
          <span class="input-label">जिल्हा <font style="color:red;">*</font></span>
          <select name="District"  class="item-select" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-model="events.DistrictId" ng-change="selTaluka(events.DistrictId)" required >
              <option value="" selected> &nbsp; &nbsp;निवडा&nbsp; &nbsp;</option>
              <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
           </select>
        </label>

        <label class="item item-input listborder">
          <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span>
          <select name="Taluka"  class="item-select"  style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-model="events.TalukaId" ng-change="village(events.TalukaId)" required>
              <option value="" selected> &nbsp; &nbsp;निवडा&nbsp; &nbsp;</option>
              <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
           </select>
        </label>

        <label class="item item-input listborder">
          <span class="input-label">गाव / उपनगर </span>
          <select name="Village"  class="item-select" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-model="events.VillageId">
              <option value="" selected> &nbsp; &nbsp;निवडा&nbsp; &nbsp;</option>
              <option value="{{village.VillageId}}" ng-repeat="village in villages" >{{village.Village}}</option>
           </select>
        </label>

      


        <label class="item item-input eventsearch eve">
          <span class="input-label">तारखे पासुन  <font style="color:red;">*</font></span> 
          <ionic-datepicker input-obj="datepickerObject">
           <input type="button"  class="button button-small" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}" name="fromdate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;padding-right: 105px;"   required>
          </ionic-datepicker>
        </label>

        <label class="item item-input eventsearch eve">
          <span class="input-label">तारखे पर्यंत <font style="color:red;">*</font></span> 
          <ionic-datepicker input-obj="datepickerObject1"  >
            <input type="button"  class="button button-small" value="{{datepickerObject1.inputDate | date:datepickerObject1.dateFormat}}" name="todate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;padding-right: 105px;"  required>
          </ionic-datepicker>
        </label>


        <br>

        <div class="row">
                    <div class="col">
                       <button  class="button  button-block eventsearchbtn" name="filter" ng-disabled="miscellaneous_form.$invalid"  ng-click="eventsearch(events.VillageId,events.TalukaId,events.eventTypeIdevents.EventId)">शोधा</button> 
                    </div>
          </div>
    </form>
  </ion-content>
</ion-view>

