<style type="text/css">

.newsp
{
    margin-left: 0px;
   margin-top: -10px;
}
.ion-chevron-right:before {
    content: "\f125";
    float: right;
    margin-right: -32px;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}
.customevent {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px #04c53c;
}

</style>

<ion-view>

 <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="alleventshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">परिसरातील कार्यक्रम</span>
    </ion-nav-title>
 <ion-content>
  <ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchallevents()">
    </ion-refresher>
      <ion-list show-delete="false">
         <div ng-class="allevent.Role == 'Admin' ? 'card adminCard': allevent.UserId == globals[0].UserId? 'card customevent' :'card'"   ng-repeat="allevent in alleventdata" ng-if="alleventdata.length>'0'" on-tap="specificalleventpage(allevent)">
               <div class="item">
                  <p class="newsp">{{allevent.EventTitle}}</p>
                  <p>कधी : {{allevent.EventDate}}&nbsp;&nbsp;{{allevent.EventStartTime}}<br>
                  <p>कुठे : {{allevent.ProgramPlace}}
                  <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
               </div>
      </div>
   </ion-list>

</ion-content>

<div class="nav" ng-if="alleventdata.length=='0'">
    <br>
    <a ui-sref="app.proginclude2" style="color: #ff964c;">कार्यक्रमाची माहिती
    मिळण्यासाठी तुमच्या संबंधातील गावजतन करा. </a>
  </div>
</ion-view>