<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view class="post-view">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="detailallshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
      <ion-nav-title>
        <span> विस्तृत माहिती</span>
      </ion-nav-title>

      <ion-content>
  
            <div class="post-heading item item-text-wrap">
              <h3 class="post-title">{{detailalleventlist.EventTitle}}</h3>
               <p class="post-author">
            <span>{{detailalleventlist.SubmittedBy}}</span>&nbsp;यांनी हा कार्यक्रम समाविष्ठ केला
          </p><br><br>
              <p class="post-author">
                <span>{{detailalleventlist.EventDate}}</span>
              </p>
            </div>

            <div class="post-heading item item-text-wrap">
                <div  ng-if="detailalleventlist.IsTimeRange == 'True'">
                  <p >{{detailalleventlist.EventStartTime}} &nbsp;ते&nbsp; {{detailalleventlist.EventEndTime}}</p>
                </div>

                <div ng-if="detailalleventlist.IsTimeRange == 'False'">
                  <p >{{detailalleventlist.EventStartTime}}</p>
                </div>
            </div>

            <br>

            <div class="post-tags item item-text-wrap" ng-if="detailalleventlist.EventDescription !== null">
             <p class="post-text" ng-bind-html="detailalleventlist.EventDescription"></p>
           </div>

            <div class="post-content item item-text-wrap" post-content>

              <p class="post-text" ng-if="detailalleventlist.ProgramPlace !== null">कुठे : {{detailalleventlist.ProgramPlace}}</p>
              <p class="post-text" ng-if="detailalleventlist.ProgramAddress !== null">{{detailalleventlist.ProgramAddress}} </p>

              <br>
                <div ng-if="detailalleventlist.ImageUrl1 !=''">
                    <ion-slide-box show-pager="true">
                          <ion-slide ng-repeat="i in [detailalleventlist.ImageUrl1,detailalleventlist.ImageUrl2] track by $index" >
                            <div class="list card">
                              <div class="item item-image">
                                <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                              </div>
                            </div>
                          </ion-slide>
                  </ion-slide-box>
                </div>
            </div>


             
            <br>

            <div class="post-tags item item-text-wrap row">
              <button ng-disabled="isDisabled" class="obj col col-30" ng-click="insertacceptedevents(detailalleventlist.EventListId)" data-toggle="tooltip" title="स्वीकार">स्वीकार&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button ng-click="insertgreetevent(detailalleventlist.EventListId)" ng-disabled="isDisabledwish" class="obj col col-30" data-toggle="tooltip" title="अभिवादन">अभिवादन</button>
            </div>

      
     
    </ion-content>

        <ion-footer-bar class="post-footer bar bar-footer bar-dark footer1">
          <div class="row ">
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>
           </div>
        </ion-footer-bar>
</ion-view>