<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>

<ion-view class="post-view">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="detailpasteventshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
     <ion-nav-title>
        <span>विस्तृत माहिती</span>
      </ion-nav-title>

    <ion-content>
  
            <div class="post-heading item item-text-wrap">
              <h1 class="post-title">{{pasteventlist.EventTitle}}</h1>
              <p class="post-author" ng-if="pasteventlist.SubmittedBy">
            <span>{{pasteventlist.SubmittedBy}}</span>&nbsp;यांनी हा कार्यक्रम समाविष्ठ केला
          </p><br><br>
              <p class="post-author">
                <span>{{pasteventlist.EventDate}}</span>
              </p>
            </div>

          <div class="post-heading item item-text-wrap">
                <div  ng-if="pasteventlist.IsTimeRange == 'True'">
                  <p >{{pasteventlist.EventStartTime}} &nbsp;ते&nbsp;{{pasteventlist.EventEndTime}}</p>
                </div>

                <div ng-if="pasteventlist.IsTimeRange == 'False'">
                  <p >{{pasteventlist.EventStartTime}}</p>
                </div>
           </div>

           <br>

            <div class="post-tags item item-text-wrap" ng-if="pasteventlist.EventDescription !== null">
                  <p class="post-text" style="white-space: pre-wrap;" ng-bind-html="pasteventlist.EventDescription"></p>
            </div>

            <div class="post-content item item-text-wrap" post-content>

                <p class="post-text" ng-if="pasteventlist.ProgramPlace !== null">कुठे : {{pasteventlist.ProgramPlace}}</p>
                <p class="post-text" ng-if="pasteventlist.ProgramAddress !== null">{{pasteventlist.ProgramAddress}}</p>

               

                   <div ng-if="detailalleventlist.ImageUrl1 !=''">
                        <ion-slide-box show-pager="true">
                              <ion-slide ng-repeat="i in [pasteventlist.ImageUrl1,pasteventlist.ImageUrl2] track by $index" >
                                <div class="list card">
                                  <div class="item item-image">
                                    <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                                  </div>
                                </div>
                              </ion-slide>
                      </ion-slide-box>
                  </div>
            </div>

             <br>
            <div class="post-tags item item-text-wrap">
              <button ng-disabled="isDisabled" class="objpast" ng-click="updateattendancedata(pasteventlist.EventListId)" data-toggle="tooltip" title="स्वीकार" > उपस्थित</button>
           </div>

          
     
  </ion-content>

        <ion-footer-bar class="post-footer bar bar-footer footer1 bar-dark ">
          <div class="row ">
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>
           </div>
        </ion-footer-bar>
</ion-view>