<style type="text/css">
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.mainrow{
	background-color: #fdfdfd;
}
.rowdata{
	background-color: #f3f3f3;
}
.trash1{
	font-size: 25px;
    color: #607D8B;

}
.button1
{
	background-color: rgba(0, 150, 136, 0.68);
}
.proginclude2{
  	background-color: white!important;
  }
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}


</style>

<ion-view class="feeds-categories-view proginclude2" >
		
	<ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
	  <ion-nav-title>
	    <span style="font-size:95%;"> कार्यक्रम पाहण्यासाठी परिसर निवडा</span>
	  </ion-nav-title>

  <ion-content>

  	<form name="feeds_form" class="" novalidate ng-cloak>
		<div class="list">
			<div>
				<p style="margin-top: 10px;margin-left:10px;font-size:16px;"> कार्यक्रम  पाहण्यासाठी तुमच्या संपर्कातील गावे जतन करा</p>
			</div>
   		<br>

		  <label class="item item-input listborder" >
		    <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.StateId" ng-change="district(events.StateId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.DistrictId" ng-change="selTaluka(events.DistrictId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"required >
		    	<option value="" selected> निवडा</option>
		        <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
		       
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.TalukaId" ng-change="village(events.TalukaId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
		       
		    </select>
		  </label>


		  <label class="item item-input listborder">
		    <span class="input-label">गाव / उपनगर  <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="events.VillageId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{village.VillageId }}" ng-repeat="village in villages" >{{village.Village}}</option>
		        
		    </select>
		  </label>

		  <br>


		  <div class="row">
                    <div class="col">
                       <button type="submit" class="button button-block eventsearchbtn" name="filter" ng-click="insertvillage(events.VillageId)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                    </div>

                    <div class="col">
                     	<button type="reset" ng-click="resetdata()" class="button button-block eventsearchbtn" name="filter">पूर्ववत</button>
                    </div>
           </div>

		</div>
	</form>
<br>
	<div style="width:100%;margin-left: 0px;">
		<div class="row header">
	          <div class="col col-20 row1">नं.</div>
	          <div class="col">गाव</div>
	          <div class="col col-25">नष्ट करा</div>
	     </div>
        <div class="row" ng-repeat="village in allvillages">
          <div class="col col-20 row1 rowdata">{{$index+1}}</div>
          <div class="col mainrow rowdata" >{{village.Village}}</div>
          <div class="col col-25 mainrow rowdata"><i class="icon ion-ios-trash-outline trash1" ng-click="deletevillage(village.TaggedVillageId)"></i></div>
        </div>
       
     </div>
 </ion-content>
</ion-view>