<style type="text/css">


.progdatetime
{
	border-radius: 5px;
	background-color:#eaeaea!important;
	border-style: none; 
}

input[type="text"]
{
	border-radius: 5px;
}
.personalevent
  {
   background-color: white!important;
  }

.eventsearch
  {
        border: hidden;
  }

.eve
{
  width: 90%;
  border-radius: 12px;   
}
.eventsearch
{
      border: hidden;
  }
 .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
#Address {
/*resize:vertical;*/
overflow:scroll;
border:1px solid silver;
border-radius:5px;
height:100px;
white-space: nowrap;
/*box-shadow: inset 0 0 10px silver;
padding:1em;*/
}


</style>

<ion-view class="feeds-categories-view personalevent">

	<ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

	 <ion-nav-title>
		   <span style="font-size:95%;">माझे कार्यक्रम समाविष्ट करा</span>
	</ion-nav-title>

	<ion-content>
<br>
	<form name="feeds_form" class="" novalidate ng-cloak>
	  <div class="list">
		<div>

			<label class="item item-input eventsearch">
			    <span class="input-label">कार्यक्रमाचा प्रकार <font style="color:red;">*</font></span>
			    <select name="state"  class="item-select" ng-model="customevent.EventId" style="width:196px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-change="changeeventname(customevent.EventId)" required>
			    	<option value="" selected> निवडा</option>
			        <option value="{{eventtype.EventTypeId}}" ng-repeat="eventtype in eventtypedata" >{{eventtype.EventType}}</option>
			     </select>
			  </label>

			  <label class="item item-input eventsearch">
			    <span class="input-label">कार्यक्रम<font style="color:red;">*</font></span>
			    <select name="state" class="item-select" ng-model="event.EventName" style="width: 196px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
			    	<option value="" selected> निवडा</option>
			        <option value="{{event.EventId}}" ng-repeat="event in eventnamedata" >{{event.EventName}}</option>
			     </select>
			  </label>

			   <label class="item item-input eventsearch eve">
		          <span class="input-label">शीर्षक </span> 
		            <input type="text" name="title" id="title" ng-model="customevent.eventTitle" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;padding-left:18px;" minLength="0" maxLength="200" required >
		            <span style="color:red; font-size:11px;" ng-show="!feeds_form.title.$error.minLength && !feeds_form.title.$error.maxLength && feeds_form.title.$error.pattern && feeds_form.title.$dirty">Maximum limit 200 charachater</span>

        		</label>

        		<!-- <label class="item item-input eventsearch">
			    	<span class="input-label">माहिती <font style="color:red;">*</font></span><br>
			    	<div name= "Address" id="Address" contenteditable="true" class="infoprog"  ng-model="customevent.eventDescription" required minlength="2" maxlength="2000" ></div>
			    	 <div style="display:block;color:red; font-size:11px;" ng-show="!feeds_form.Address.$error.required && (feeds_form.Address.$error.minlength || feeds_form.Address.$error.maxlength) && feeds_form.Address.$dirty">Max 2000 </div> 
			    	
			  	</label> -->
			  	<label class="item item-input eventsearch">
			    	<span class="input-label">माहिती <font style="color:red;">*</font></span><br>
			    	<textarea name= "Address" id="Address" class="infoprog"  ng-model="customevent.eventDescription" rows="3" minLength="2" maxLength="2000" required></textarea>
			    	<span style="color:red; font-size:11px;" ng-show="!feeds_form.Address.$error.required && (feeds_form.Address.$error.minlength || feeds_form.Address.$error.maxlength) && feeds_form.Address.$dirty">Max 2000 </span>
			    	
			  	</label>
			 

			   <label class="item item-input eventsearch eve">
			   	 <span class="input-label">ठिकाण <font style="color:red;">*</font></span><br>
			    <input type="text" name="Desc" id="Desc"style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;padding-left:13px;" ng-model="customevent.programAddress" ng-minlength="0" ng-maxlength="100" required>
			   <!--  <span style="color:red; font-size:11px;" ng-show="!feeds_form.Desc.$error.minlength && !feeds_form.Desc.$error.maxlength  && feeds_form.Desc.$dirty">Maximum limit 100 charachater</span> -->
			   </label>


        	<label class="item item-input eventsearch eve">
		         <span class="input-label">तारीख <font style="color:red;">*</font></span><br> 
		          <ionic-datepicker input-obj="datepickerObject">
		           <input type="button"  class="button button-small" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}" name="fromdate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;width: 193px;border-style: none;padding-right: 105px;" required>
		          </ionic-datepicker>
        	</label>

        	<label class="item item-input eventsearch eve">
	          <span class="input-label">वेळ <font style="color:red;">*</font></span><br>
	            <input type="time" name="todate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 15px;padding-left: 18px;font-size: 12px;" ng-model="customevent.time"  required>
        	</label>

			  

			  
		  </div>
		  <br>
 


		  	<div class="row">
                <div class="col">
                    <button type="submit" class="button button-block eventsearchbtn" name="filter" ng-click="insertcustomevents(customevent.EventId,event.EventName,customevent.eventTitle,customevent.eventDescription,customevent.programAddress)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                 </div>

                 <div class="col">
                    <button type="reset" ng-click="resetcustomevents()" class="button button-block eventsearchbtn" name="filter">पुर्ववत</button>
                  </div>
           </div>

		</div>
	</form>
	</ion-content>

	</script>

  </ion-view>
  