<style type="text/css">



</style>

<ion-view >
  <ion-nav-title>
    <span>नावांची यादी</span>
  </ion-nav-title>
	  <ion-content>
	  	<div class="list">
			<a class="item item-avatar" href="#">
		      <img src="img/birthday.jpg">
		      <h2>Name</h2>
		      <p>Happy birthday</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/birthday.jpg">
		      <h2>Name</h2>
		      <p>Birthday wishes</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/birthday.jpg">
		      <h2>Name</h2>
		      <p>Birthday wishes</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/birthday.jpg">
		      <h2>Name</h2>
		      <p>Birthday wishes</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/birthday.jpg">
		      <h2>Name</h2>
		      <p>Birthday wishes</p>
		    </a>
		</div>
		
	 </ion-content>
  </ion-view>