

<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.eve
{
  width: 91%;
  border-radius: 12px;   
}
.eventsearch
{
      border: hidden;
}

.eventsr
{
    background-color: white !important;
}

</style>

<ion-view class="miscellaneous-view eventsr">

    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="usereventshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">माझे वैयक्तिक कार्यक्रम रद्द करा</span>
    </ion-nav-title>

    <ion-content>
 <ion-refresher pulling-text="Pull to refresh..." on-refresh="getmycustomevent()">
    </ion-refresher>

    <ion-list show-delete="false">
         <div class="card" ng-repeat="customevent in cutomeventdata"  on-tap="specificallcustomeventpage(customevent)">
               <div class="item">
                  <p class="newsp">{{customevent.EventTitle}}</p>
                  <p>कधी : {{customevent.EventDate}}&nbsp;&nbsp;{{customevent.EventStartTime}}<br>
                  <p >कुठे : {{customevent.ProgramPlace}}
                  <p>
                  <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
                  </p>
               </div>
      </div>

   </ion-list>



  </ion-content>
</ion-view>

