<div class="show-hide-input" ng-transclude>
</div>
<a class="toggle-view-anchor" on-touch="toggleType($event)">
	<span class="ion-eye-disabled" ng-show="show" style="margin-right: 30px;"></span>
	<span class="ion-eye" ng-show="!show" style="margin-right: 30px;"></span>
</a>
