<style type="text/css">
  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.ion-ios-trash-outline:before {
    content: "\f4c4";
    color: #fafafa;
    font-size: 20px;
}
</style>

<ion-view class="post-view">

  <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="detailusernewsshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
   <ion-nav-title>
      <span style="font-size:95%;">विस्तृत बातमी</span>
    </ion-nav-title>

  <ion-content scroll="true">
  
        <div class="post-heading item item-text-wrap">
          <h1 class="post-title">{{newsdetail.Heading}}</h1>
          <p class="post-author">
            By <span>{{newsdetail.Name}}</span>,&nbsp;<span>{{newsdetail.NewsDate}}&nbsp;&nbsp;{{newsdetail.NewsTime}}</span>
          </p>
        </div>

        <br>

        
    <div class="post-content item item-text-wrap" post-content>

      <p class="post-text"  style="white-space: pre-wrap;text-align: justify;" ng-bind-html="newsdetail.NewsDescription"></p>

      <div ng-if="newsdetail.ImageUrl1 !=''"> 
            <ion-slide-box show-pager="true">
            <ion-slide ng-repeat="i in [newsdetail.ImageUrl1,newsdetail.ImageUrl2] track by $index" >
              <div class="list card">
                <div class="item item-image">
                  <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view >
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
    </div>

    
    </div>
  </ion-content>

  <ion-footer-bar class="post-footer bar bar-footer footer1">
    <div class="row ">
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-plus zoom" bigger-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-minus zoom" smaller-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-50 col-center" >
       <i class="icon ion-ios-trash-outline" style="color: white;" ng-click="deleteusernews(newsdetail.NewsId)" >&nbsp;&nbsp;काढुन टाका</i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
