
<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

>
<ion-view class="post-view">

    <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
   <ion-nav-title>
      <span style="font-size:95%;">विस्तृत बातमी</span>
    </ion-nav-title>

  <ion-content scroll="true">
  
        <div class="post-heading item item-text-wrap">
          <h1 class="post-title">{{newsdetail.Heading}}</h1>
          <p class="post-author">
            By <span>{{newsdetail.Name}}</span>,&nbsp;<span>{{newsdetail.NewsDate}}&nbsp;&nbsp;{{newsdetail.NewsTime}}</span>
          </p>
        </div>

        <br>

        

    <div class="post-content item item-text-wrap" post-content>

      <p class="post-text" style="white-space: pre-wrap;text-align: justify;" ng-if="newsdetail.NewsDescription !== null" ng-bind-html="newsdetail.NewsDescription"></p>
  
      <div ng-if="newsdetail.ImageUrl1 !=''"> 
          <ion-slide-box show-pager="true">
          <ion-slide ng-repeat="i in [newsdetail.ImageUrl1,newsdetail.ImageUrl2] track by $index" >
            <div class="list card">
              <div class="item item-image" >
                <!-- <img ng-src="{{i}}"> -->
                <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view> 
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
    </div> 

    
    </div>
    
      <div class="post-tags item item-text-wrap row ">
        <button ng-click="objection()" data-toggle="tooltip" ng-disabled="isDisabled" title="आक्षेप" class="objnews col col-50">आक्षेप</button>
      </div>
    
  </ion-content>

  <ion-footer-bar class="post-footer bar bar-footer footer1">
    <div class="row ">
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-plus zoom" bigger-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-minus zoom" smaller-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-offset-20 col-center">
        <a class="button button-icon icon ion-chatbubbles" ui-sref="app.newsaddcomment({'NewsId' :newsdetail.NewsId})"></a>
        <!-- <i class="icon ion-chatbubbles"  ui-sref="app.newsaddcomment({'NewsId' :newsdetail.NewsId})" ></i> -->
      </div>
      <div class="col col-20 col-center" >
       <!--  <a class="button button-icon icon ion-android-share-alt" ng-click="sharePost(post.url)"></a> -->
      </div>
    </div>
  </ion-footer-bar>
</ion-view>


