

<style type="text/css">

  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}

.eve
{
  width: 92%;
  border-radius: 12px;   
}

.eventsearch
  {
        border: hidden;
  }

  input[type="text"]
  {
    border-radius: 5px;
  }

  .listborder2{
        border-color: white;
  }
  .personalevent{
        background-color: white!important;
  }
  .radio{
    font-size: 16px;
  }
#Address {
/*resize:vertical;*/
overflow:scroll;
border:1px solid silver;
border-radius:5px;
height:100px;
white-space: nowrap;
/*box-shadow: inset 0 0 10px silver;
padding:1em;*/
}
</style>

<ion-view cache-view="false" ng-init="popover" class="personalevent">

        <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">बातम्या समाविष्ट करा</span>
    </ion-nav-title>

<ion-content>
 <form name="feeds_form" class="" novalidate ng-cloak>
<br>

<div class="list">
    <label class="myFile">
        <!-- <img src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" style="height:35px;width:35px"alt="" /> -->
        <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
        <input type="file"   ng-model="fileName" fileread="fileName" accept="image/*">
    </label>
    <div >
        <b ng-if="fileName" style="margin-left:70px;">पहा:</b><br/>
        <i ng-hide="fileName">प्रतिमा निवडा</i>
         <span><img ng-if="fileName" src={{fileName}} style="height:120px;width: 285px;"><br/></span>
    </div>
</div>

<div class="list">
<div>
      <label class="myFile">
                <!-- <img src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" style="height:35px;width:35px"alt="" /> -->
                 <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
                <input type="file" ng-model="fileName1" fileread="fileName1" accept="image/*">
      </label>
      <div> 
          <b ng-if="fileName1"style="margin-left:70px;">पहा:</b><br/>
          <i ng-hide="fileName1">प्रतिमा निवडा</i>
          <span><img ng-if="fileName1" src={{fileName1}} style="height:120px;width:285px;" ><br/></span>
      </div>
      
 </div>  
 </div>  
<br>
  <div class="item item-divider">बातमीचे विवरण</div>

      <div class="item" >

        <label class="item item-input eventsearch eve">
          <span class="input-label">शीर्षक</span><br>
          <input type="text" name="Desc" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: -40px;padding-left: 2%;" ng-model="insertnews.newsTitle" required>
         </label>


        <label class="item item-input listborder2">
          <span class="input-label">विवरण </span><br>
          <!-- <div name= "Address" id="Address" class="infoprognesinclude" contenteditable="true" ng-model="insertnews.newsDescription" rows="4" required></div> -->
           <textarea name= "Address" class="infoprognesinclude"  ng-model="insertnews.newsDescription" rows="4" required></textarea>
        </label>

        

      </div>

      
  <div class="item item-divider">
      बातमीच्या प्रसारणासाठी विभाग निवडा
  </div>
    
<form action="demo_form.asp">
    <div class="item item-divider" style="background-color: white;padding-top: 15px;">
          
    <select ng-model="areanewsctrl.test.choice" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
      <option ng-value="'सर्व'">सर्व</option>
      <option ng-value="'राज्य'">राज्य</option>
      <option ng-value="'जिल्हा'">जिल्हा</option>
      <option ng-value="'तालुका'">तालुका / शहर</option>
    </select>
    </div>
</form>

<label ng-switch="areanewsctrl.test.choice">

      <div ng-switch-when="सर्व">

      </div>


      <div ng-switch-when="राज्य">

            <label class="item item-input" >
              <span class="input-label">राज्य <font style="color:red;">*</font></span>
              <select name="state"  class="item-select" ng-model="profiledata.ParStateId" ng-change="StateTest(profiledata.ParStateId)" style="width: 188px!important;height:40px;padding-left:10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                  <option ng-value="states.StateId" ng-repeat="states in statedata" ng-selected="states.StateId==profiledata.ParStateId">{{states.State}}</option>
              </select><br>
            </label>
      </div>


      <div ng-switch-when="जिल्हा">

            <label class="item item-input" >
              <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
              <select name="state"  class="item-select" ng-model="profiledata.ParStateId" ng-change="district(profiledata.ParStateId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                <option ng-value="states.StateId" ng-repeat="states in statedata" ng-selected="states.StateId==profiledata.ParStateId">{{states.State}}</option>
              </select>
            </label>

             <label class="item item-input">
              <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
                <select name="state"  class="item-select" ng-model="profiledata.ParDistrictId"  ng-change="GetTaluka(profiledata.ParDistrictId)" 
                style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"required >
                    <option ng-value="dist.DistrictId" ng-repeat="dist in districtdata" ng-selected="dist.DistrictId==profiledata.ParDistrictId" >{{dist.District}}</option>
                </select>
          </label>
        </div>


         <div ng-switch-when="तालुका">

          <label class="item item-input" >
              <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
                <select name="state"  class="item-select" ng-model="profiledata.ParStateId" ng-change="district(profiledata.ParStateId)" placeholder="राज्य" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"required>
                   <option ng-value="states.StateId" ng-repeat="states in statedata" ng-selected="states.StateId==profiledata.ParStateId">{{states.State}}</option>
                </select><br>
            </label>

          <label class="item item-input">
              <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
                <select name="state"  class="item-select" ng-model="profiledata.ParDistrictId"  ng-change="GetTaluka(profiledata.ParDistrictId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required >
                    <option ng-value="dist.DistrictId" ng-repeat="dist in districtdata" ng-selected="dist.DistrictId==profiledata.ParDistrictId" >{{dist.District}}</option>
                </select>
          </label>

              
          <label class="item item-input">
            <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
              <select name="state"  class="item-select" ng-model="profiledata.ParTalukaId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                  <option ng-value="talukas.TalukaId" ng-repeat="talukas in taluka" ng-selected="talukas.TalukaId==profiledata.ParTalukaId" >{{talukas.Taluka}}</option>
              </select>
        </label>

      </div>

  </label>
  

<br>

   
            
             

    <div class="row">
      <div class="col">
        <button type="submit" class="button  button-block eventsearchbtn" name="filter" ng-click="insertnewsdata(areanewsctrl.test.choice,profiledata.ParStateId,profiledata.ParDistrictId,profiledata.ParTalukaId,fileName,fileName1,insertnews.newsDescription,insertnews.newsTitle)" ng-disabled="feeds_form.$invalid">जतन करा</button>
      </div>

      <div class="col">
       <button type="reset" ng-click="resetnewsdata()" class="button  button-block eventsearchbtn" name="filter">पूर्ववत</button>
      </div>
    </div>
   
  </form>
</ion-content>
</ion-view>




