<style type="text/css">

	
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}

.newsbg
 {
   background-color: white!important;
  }

   .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view class="wordpress-view newsbg">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> 

  <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
  			<i class="icon ion-android-arrow-back"></i> 
      		<span class="back-text"></span>
  </button>

    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="othershowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    

  <ion-nav-title>
    <span style="font-size:95%;">बातम्या</span>
  </ion-nav-title>

  <ion-content>
    <br>
    <form name="wordpress_form" class="" novalidate ng-cloak>
	     <div class="list">
  
  
      	  <label class="item item-input listborder" >
            <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
            <select name="state"  class="item-select" ng-model="events.StateId" ng-change="district(events.StateId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                <option value="" selected> निवडा</option>
                <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
             </select><br>
          </label>

          <label class="item item-input listborder">
            <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
            <select name="state"  class="item-select" ng-model="events.DistrictId" ng-change="selTaluka(events.DistrictId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                <option value="" selected> निवडा</option>
                <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
             </select><br>
          </label>

          <label class="item item-input listborder">
            <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
            <select name="state"  class="item-select" ng-model="events.TalukaId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                <option value="" selected> निवडा</option>
                <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
              </select><br>
          </label>
      	  <br>


          <div class="row">
                    <div class="col" >
                       <button class="button  button-block eventsearchbtn" ng-click="searchnews(events.StateId,events.DistrictId,events.TalukaId)" ng-disabled="wordpress_form.$invalid">शोधा</button>
                    </div>
          </div>
    
      </div>
  </form>
<br>
<div class="card" ng-repeat="selectednews in searchresult" on-tap="specificsearchnewspage(selectednews)">
           <div class="item">
              <h2> {{selectednews.Heading | limitTo: 100}} {{selectednews.Heading.length > 100 ? '...' : ''}}</h2>
                        
              <p style="white-space: normal;"> {{selectednews.NewsDescription | limitTo: 200 }}{{selectednews.NewsDescription.length > 200 ? '...' : ''}}
             <!--  <p>{{selectednews.NewsId}}</p> -->
              <br>
                <p>
                    <i class="icon ion-eye">&nbsp;{{selectednews.IsSeen}}&nbsp;&nbsp;वाचक</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon ion-chatbubble">&nbsp;&nbsp;{{selectednews.CommentCnt}}&nbsp;&nbsp;प्रतिक्रिया</i>
                    <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
                </p>

           </div>
</div>
 </ion-content>
</ion-view>