<style type="text/css">
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}
.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.rowdata{
	background-color: #f3f3f3;
}

.taluka
{
    background-color: white !important;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view class="feeds-categories-view taluka" >

      <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </ion-nav-buttons>
 
      <ion-nav-title>
        <span style="font-size:95%;"> तालुका समाविष्ट करा</span>
      </ion-nav-title>

  <ion-content>

  <form name="feeds_form" class="" novalidate ng-cloak>

	       <div class="list">

            	 <div>
            	       <p style="margin-top: 10px; margin-left: 10px;font-size: 16px;">बातम्या पाहण्यासाठी तुमच्या संपर्कातील तालुके जतन करा</p>
              </div>

              <br>
              
            	<label class="item item-input listborder" >
            	   <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
            	      <select name="state"  class="item-select" ng-model="events.StateId" ng-change="district(events.StateId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                        <option value="" selected> निवडा</option>
            	          <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
            	       </select>
            	 </label>

                <label class="item item-input listborder">
                  <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
                  <select name="state"  class="item-select" ng-model="events.DistrictId" ng-change="selTaluka(events.DistrictId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                      <option value="" selected> निवडा</option>
                      <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
                   </select>
                </label>

                <label class="item item-input listborder">
                  <span class="input-label">तालुका <font style="color:red;">*</font></span><br>
                  <select name="state"  class="item-select" ng-model="events.TalukaId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
                      <option value="" selected> निवडा</option>
                      <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
                  </select>
                </label>

              	  <br>

                 <div class="row">
                    <div class="col">
                      <button class="button  button-block  eventsearchbtn"  ng-click="inserttaluka(events.StateId,events.DistrictId,events.TalukaId)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                    </div>

                    <div class="col">
                     <button type="reset" class="button  button-block  eventsearchbtn" ng-click="resetdatas()">पूर्ववत</button>
                    </div>
                </div>

	     </div>
 </form>
 <br>

    <div  style="width: 100%;margin-left: 0px;">

      <div class="row header">
          <div class="col col-20 row1">नं.</div>
          <div class="col">तालुका</div>
          <div class="col col-25">नष्ट करा</div>
      </div>
      
      <div class="row" ng-repeat="tal in alltaluka">
          <div class="col col-20 row1 rowdata">{{$index+1}}</div>
          <div class="col rowdata">{{tal.Taluka}}</div>
          <div class="col col-25 rowdata"><i class="icon ion-ios-trash-outline trash1" ng-click="deleteTaluka(tal.TaggedTalukaId)"></i></div>
      </div>

    </div>

  </ion-content>
</ion-view>