<style type="text/css">
      .imgdash{
        cursor: pointer;
        border-radius: 2px;
        background-color: #ff7700;;
        
      }
      .eventimg{
          height: 151px;
         /* width: 170px;*/
      }
      .imgnews{
        height: 151px;
      }
      .newspc {
        margin-left: 41%;
        margin-top: -10%;
      }
      .newsimg {
        width: 50%;
        padding-top: 11%;
        margin-left: 26%;
      }
      .specialinfoimg {
        width: 31%;
        padding-top: 19%;
        margin-left: 32%;
      }
      .specialinfop {
        margin-left: 27%;
      }
      .ion-clipboard:before {
        content: "\f127";
        margin-top: 18%;
        margin-left: 36%;
        color: white;
        font-size: 53px;
      }
      .submittoadminp {
        margin-left: 29%;
        }
      .ion-calendar:before {
        content: "\f117";
        font-size: 51px;
        margin-left: 36%;
        margin-top: 23%;
        color: white;
      }
      .programp{
        margin-left: 36%;
      }
      .para{
        color: white;
      }
      .ion-search:before {
        content: "\f21f";
        color: white;
        font-size: 58px;
        margin-left: 34%;
        margin-top: 19%;
      }
      .ion-share:before {
        content: "\f220";
        color: white;
        font-size: 60px;
        margin-left: 41%;
        margin-top: 16%;
      }
      .searchp{
        margin-left: 27%;
      }
      .share {
    margin-left: 33%;
    margin-top: -3%;
}
      .leftbox{
        margin-left: -2px;
      }
     /* .rightbox{
        margin-left: -4px;
      }*/

</style>

<ion-view class="feeds-categories-view">
<ion-nav-title>
    <span>डॅशबोर्ड</span>
  </ion-nav-title>

  <ion-content>
    <div class = "row">

      <div class = "col">
         <div class="imgdash eventimg rightbox" ui-sref="app.events.acceptedevent">
         <i class="icon ion-calendar"></i>
         <p class="programp para">कार्यक्रम</p>
         </div>
       </div>

        <div class = "col">
         <div class="imgdash eventimg leftbox" ui-sref="app.eventsearch">
         <i class="icon ion-search"></i>
         <p class="programp para searchp">कार्यक्रम शोधा</p>
         </div>
       </div>
       
       
    </div>
    <div class = "row">

      <div class = "col">
         <div class="imgdash eventimg rightbox" ui-sref="app.News.feed-entries">
         <img src="img/newsicon.png" class="newsimg">
         <p class="newspc para">बातम्या</p>
         </div>
       </div>

       <div class = "col">
         <div class="imgdash eventimg leftbox" ui-sref="app.specialinfo.selected" >
         <img src="img/special_info.png" class="specialinfoimg">
         <p class="specialinfop para">विशेष माहिती</p>
         </div>
       </div>
       
       
    </div>


    <div class = "row">

    <div class = "col">
         <div class="imgdash eventimg leftbox" ui-sref="app.publicnotice.getnoticelist">
         <i class="icon ion-share"></i>
         <p class="programp para share">जाहीर नोटीस</p>
         </div>
       </div>

      <div class = "col">
       <div class="imgdash eventimg rightbox" ui-sref="app.submittoadmin.shareapp">
         <i class="icon ion-clipboard"></i>
         <p class="submittoadminp para">&nbsp;शेअर करा</p>
         </div>
        </div>
<!--        <div class = "col">
         <div class="imgdash eventimg leftbox" ui-sref="app.share">
         <i class="icon ion-share"></i>
         <p class="programp para share">शेअर करा</p>
         </div>
       </div> -->
       
       
    </div>

  </ion-content>
</ion-view>
