<style type="text/css">

 .logorate{
  width: 100px;
  padding-top: 22px;
 }

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}

</style>
<ion-view>
  
  <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="shareconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>
  
    <ion-nav-title>
        <span style="font-size:95%;">शेअर करा</span>
    </ion-nav-title>
 <ion-content>
        <div class="rate">
         <center><img src="img/wide-screen2.jpg" class="wideimage"></center>
        </div>
        <br>
        <p style="font-size: 109%; margin-left: 10px;margin-right: 10px;text-align: justify;">मराठी सामाजिक कार्यकर्ते व मराठी भाषिकांसाठी निर्माण केलेले भव्यदिव्य हे ॲप आपण आपल्या मित्र परिवारात, सग्या-सोयऱ्यात, पाहुण्या- रावळयात, गावकी-भावकीमध्ये शेअर करा व आम्हास संपूर्ण मराठी समाज एका धाग्याने बांधण्यात सहकार्य करा.</p>
        <div class="row">
            <div class="col">
                <button class="button  button-block eventsearchbtn" ng-click="sharePost(post.url)">शेअर करा</button>
            </div>
        </div>
        
     
    </ion-content>
</ion-view>