<style type="text/css">

.textbox
{
    margin-left: 8px;
    width: 95%;
    background-color: #eaeaea;
    padding-left: 6%;
    padding-top: 3%;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
</style>
<ion-view>

  <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>

  <ion-nav-title>
    <span style="font-size:95%;">समाविष्ट करा</span>
  </ion-nav-title>

<ion-content class="padding">

    <div>
        <label class="myFile">
            <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
            <input type="file" ng-model="namesArr" fileread="namesArr" accept="image/*">
        </label>
        <div >
            <b ng-if="namesArr" style="margin-left: 70px;" >पहा:</b><br/>
            <i ng-hide="namesArr">प्रतिमा निवडा</i>
             <span><img ng-if="namesArr" src={{namesArr}} style="height:120px;width: 285px;"><br/></span>
        </div>
    </div>
<br>

    <div>
          <label class="myFile">
              <img src="img/Icon.13385.png" style="height:35px;width:35px"alt="" />
              <input type="file"   ng-model="namesArr1" fileread="namesArr1" accept="image/*">
          </label>
          <div> <b ng-if="namesArr1"style="margin-left: 70px;">पहा:</b><br/>
              <i ng-hide="namesArr1">प्रतिमा निवडा</i>
              <span><img ng-if="namesArr1" src={{namesArr1}} style="height: 120px;width: 285px;" ><br/></span>
          </div>
          
     </div>     
<br>
   
    <form>
<br>
            <textarea class="textbox" ng-model="insertdesc.desc" placeholder="संदेश" rows="5"></textarea><br>
           
            
            <div class="row">
                    <div class="col" style="border: solid 1px rgba(128, 128, 128, 0.02);">
                        <button type="submit" class="button   button-block eventsearchbtn" name="filter" ng-click="submittoadmindata(namesArr,namesArr1,insertdesc.desc)" >जतन करा</button>
                    </div>

                    <div class="col">
                      <button type="reset" ng-click="resetinsertnoticedata()" class="button  button-block eventsearchbtn" name="filter">पूर्ववत</button>
                    </div>
          </div>

   </form>
   <p style="text-align: justify;">कृपया आपल्या मोबाईलमध्ये व विविध ग्रुप्समध्ये भव्यदिव्यचा <a href="tel:9960022333" >9960022333</a> हा व्हॉट्सअप नंबर सेव्ह करा व आम्हास आपले विविध कार्यक्रम, पत्रिका, बातम्या, जाहीर नोटीसा किंवा समाजउपयोगी माहिती व्हॉट्सअप करा.</p>
  </ion-content>
</ion-view>

