<ion-view class="category-feeds-view">
  <ion-nav-title>
    <span>{{categoryTitle}} feeds</span>
  </ion-nav-title>
  <ion-content>
    <div class="list category-feeds">
    
       <a ng-repeat="source in category1" class="item item-icon-right" ui-sref="app.feed-entries({categoryId: categoryId, sourceId: (source.URL )})">
        <div class="thumbnail-outer">
          
            <img class="thumbnail" src="img/lokmat.png" >
         
        </div>
        <div>
          <span class="title">{{source.CategoryName}}</span>
          <p class="description">{{source.CategoryName}}</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a> 
    </div>
  </ion-content>
</ion-view>
