<ion-view class="feed-entries-view">
  <ion-nav-title>
    <span> वर्तमानपत्रातील ताज्या बातम्या</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="rssfeedshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="entries-list">
    <div ng-repeat="entry in feed " class="card" >
        <div class=" item item-text-wrap">
          <h2 class="entry-title" ng-bind-html="entry.title | rawHtml"></h2>

          
        </div>
        <div class="entry-content item item-text-wrap">
          <!-- <p class="entry-excerpt" dynamic-anchor-fix ng-bind-html="entry.contentSnippet | rawHtml"></p> -->
          <div class="entry-actions row">
             <div class="actions col col-center col-66">
                    <p class="entry-author">

                       {{entry.paper}}&nbsp;<span>{{ entry.pubDate | parseDate | amTimeAgo }}</span>
                      </p>
              </div> 
              <div class="read-more col col-center col-33" dynamic-anchor-fix>
                <button class="button button-small button-block eventsearchbtn" ng-click="openNews(entry.link)">
                  विस्तृत बातमी 
                </button>
              </div>
          </div>
          <!--  <div class="entry-actions row" ng-bind-html="entry.description"></div> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>