<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>बातम्या</span>
  </ion-nav-title>
  <ion-content>
    <div class="row categories-list">
      <div ng-repeat="category in feeds_categories" class="col col-50">
        <a class="feed-category" ui-sref="app.category-feeds({categoryId: (category.NewsPaperId )})">
         
            <img class="category-image" ng-src="{{category.LogoURL}}" >
         
           <div class="category-bg"></div>
          <span class="category-title">{{category.NewPaper}}</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
