<style type="text/css">
  .seenbycount{
    background-color: #f9903a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-left: 6px;
    color: white !important;
  }
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.adminCard {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 6px 8px rgb(255, 119, 0);
}

</style>

  <ion-view>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <span style="font-size:95%;">बातम्या</span>
    </ion-nav-title>
 
<ion-content>

<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchnews()">
    </ion-refresher>



<div ng-class="news.Role == 'Admin' ? 'card adminCard':'card'" ng-repeat="news in newsdata" ng-if="newsdata.length>'0'" on-tap="specificnewspage(news)">
           <div class="item" >
           <!--  <h2>{{news.Role}}</h2> -->
              <h2> {{news.Heading | limitTo: 150}}{{news.Heading.length > 150 ? '...' : ''}}</h2>
                        
              <p style="white-space: normal;" ng-bind-html="news.NewsDescription  | limitTo: 200"> 
              <br>
                <p>
                    <i class="icon ion-eye">&nbsp;{{news.IsSeen}}&nbsp;&nbsp;वाचक</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon ion-chatbubble">&nbsp;&nbsp;{{news.CommentCnt}}&nbsp;&nbsp;प्रतिक्रिया</i>
                    <i class="icon ion-eye eyeicon"  ng-click="fetchnewsdetail(news.NewsId)" data-toggle="tooltip" title="बघा" ng-click="fetchnewsdetail(news.NewsId)"></i>
                </p>


           </div>


  </div>
  <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>
  <div class="nav" ng-if="newsdata.length=='0'">
   <br>
   <a ui-sref="app.taluka" style="color: #ff964c;">बातमीची माहिती
        मिळण्यासाठी तुमच्या संबंधातील तालुका जतन करा.. </a>
</div>
</ion-content>

  

</ion-view>

  