<style type="text/css">
  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>
  <ion-view>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="usernewslistshowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        </ion-nav-buttons>

    <ion-nav-title>
        <span style="font-size:95%;">मी प्रसिद्ध केलेल्या बातम्या</span>
    </ion-nav-title>
 
<ion-content>
 <ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchusernewslist()">
    </ion-refresher>
<div ng-class="newslist.Role == 'Admin' ? 'adminCard':'card'" ng-repeat="newslist in newslistdata" on-tap="userspecificnewspage(newslist)">
           <div class="item">
             
              <h2> {{newslist.Heading | limitTo: 150}}{{newslist.Heading.length > 150 ? '...' : ''}}</h2>
                        
              <p style="white-space: normal;" ng-bind-html=" newslist.NewsDescription  | limitTo: 200"> 
              <br>
                <p>

                    <i class="icon ion-eye">&nbsp;{{newslist.seenBy}}&nbsp;&nbsp;वाचक</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- <i class="icon ion-chatbubble">&nbsp;&nbsp;{{newslist.CommentCnt}}&nbsp;&nbsp;प्रतिक्रिया</i> -->
                     <!-- <i class="icon ion-ios-trash-outline " ng-click="deleteusernews(newslist.NewsId)" >&nbsp;&nbsp;काढुन टाका</i> -->
                    <i class="icon ion-eye eyeicon"  data-toggle="tooltip" title="बघा"></i>
                </p>

           </div>
  </div>
</ion-content>

</ion-view>
