<style type="text/css">
    .seenbycount{
    background-color: #f9903a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-left: 6px;
    color: white !important;
  }
  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

  .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}


</style>


    <ion-view>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    <ion-nav-buttons side="right">
            <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

    <ion-nav-title>
        <span style="font-size:95%;">निवडक विशेष माहिती</span>
        
    </ion-nav-title>
 
<ion-content>
<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchspecialnews()">
    </ion-refresher>

<div class="card" ng-repeat="specialnews in specialnwsdetails" ng-if="specialnwsdetails.length>'0'" on-tap="selectedspecificnewspage(specialnews)">
           <div class="item">
              <h2> {{specialnews.NewsTitle | limitTo: 150}}{{specialnews.Heading.length > 150 ? '...' : ''}}</h2>
                        
              <p style="white-space: normal;"> {{ specialnews.NewsDescription  | limitTo: 200 }}{{specialnews.NewsDescription.length > 200 ? '...' : ''}}
              <br>
                <p>
                    <i class="icon ion-eye">&nbsp;{{specialnews.IsSeen}}&nbsp;&nbsp;वाचक</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon ion-chatbubble">&nbsp;&nbsp;{{specialnews.CommentCnt}}&nbsp;&nbsp;प्रतिक्रिया</i>
                    <i class="icon ion-eye eyeicon"   data-toggle="tooltip" title="बघा"></i>
                </p>

           </div>
  </div>
<div class="nav" ng-if="specialnwsdetails.length=='0'">
      <br>
      <a ui-sref="app.specialinfo.area" style="color: #ff964c;">कार्यक्रमाची माहिती
      मिळण्यासाठी तुमच्या संबंधातील क्षेत्र जतन करा. </a>
</div>


</ion-content>

</ion-view>