<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tab-item{
    color: white;
}
</style>
<ion-view class="post-view">

    <ion-nav-buttons side="right">
           <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
   <ion-nav-title>
      <span style="font-size:95%;"> विस्तृत विशेष माहिती</span>
    </ion-nav-title>

  <ion-content>

      <div class="post-heading item item-text-wrap" >
          <h1 class="post-title">{{specialnwsdetail.NewsTitle}}</h1>
          <p class="post-author">
            By <span>{{specialnwsdetail.PersonName}}</span>,&nbsp;<span >{{specialnwsdetail.CreatedOn}}</span>
          </p>
      </div>
      <div class=" item item-text-wrap" >
        <p class="post-text" ng-if="specialnwsdetail.NewsDescription !== null" >{{specialnwsdetail.NewsDescription}}</p>
        
      </div>

      

       <div  ng-repeat="fdata in filesdata">
        <button  ng-if="ytVidId(fdata.FilePath)" class="button  button-block " ng-click="openVideo(fdata.FilePath)">
                 <i class="icon ion-social-youtube"></i> &nbsp;&nbsp;&nbsp;&nbsp;{{fdata.FileName}}
              </button>
           
          <a ng-disabled="isClicked" href="{{fdata.FilePath}}" ng-hide="ytVidId(fdata.FilePath)" class="item item-icon-left" download  style="text-decoration: underline;" ng-click="openVideo(fdata.FilePath)" >
          <i class="icon ion-archive icondw"></i>{{fdata.FileName}}
            
          </a> 


       </div>
       <progress max="100" value="0" id="ft-prog"></progress>

       
      

  </ion-content>

    <ion-footer-bar class="post-footer bar bar-footer footer1 ">
      <div class="row ">
        <div class="col col-20 col-center">
          <a class="button button-icon icon icon-right ion-plus zoom" bigger-text=".post-view .post-text">A</a>
        </div>
        <div class="col col-20 col-center">
          <a class="button button-icon icon icon-right ion-minus zoom" smaller-text=".post-view .post-text">A</a>
        </div>
        <div class="col col-20 col-offset-20 col-center">
          <a class="button button-icon icon ion-chatbubbles" ui-sref="app.specialnewsaddcomment({'NewsId' :specialnwsdetail.NewsId})"></a>
        </div>
        <div class="col col-20 col-center" >
         <!--  <a class="button button-icon icon ion-android-share-alt zoom" ng-click="sharePost(post.url)"></a> -->
        </div>
      </div>
    </ion-footer-bar>
</ion-view>


