<style type="text/css">
.termscond
{
	text-align: justify;
	padding-left: 15px;
    padding-right: 20px;
}

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

 .logorate
 {
  	width: 100px;
  	padding-top: 22px;
 }
</style>
<ion-view>

    <ion-nav-title>
       <b> <span style="font-size:95%;">वचन व गोपनियता</span></b>
    </ion-nav-title>

    <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

	<ion-content>
		<div class="rate">
	         <center><img src="img/wide-screen2.jpg" class="wideimage"></center>
	    </div>
      <br>
      <center><h3>वचन व गोपनियता</h3></center>
        <div class="termscond">
        	आम्ही आपल्या मोबाईल मधील कुठलीही माहिती आपल्या परवानगी शिवाय घेणार नाही. गरज भासल्यास अशी परवानगी वेळोवेळी घेतली जाईल.<br>
          आपली वैयक्तिक माहिती आम्ही कोणाशीही शेअर करणार नाही. परंतु कोणाला जर आपल्याशी संपर्क साधायचा असेल, निमंत्रण पाठवायचे असेल, माहिती द्यायची असेल तर भव्यदिव्यच्या माध्यमातून त्यांना आपल्याशी जोडले जाईल.<br>
           <b>कार्यक्रम</b> – भव्यदिव्यवर प्रकाशित केलेल्या कार्यक्रमांची व त्यातील खऱ्या-खोट्या मजकुराची जबाबदारी पोस्ट करणाऱ्या संबंधित सदस्यावर असेल. आपण आम्हास आपल्यास आलेला वाईट अनुभव “समाविष्ठ करा” द्वारे कळविल्यास सदर सदस्याचे नाव व चुकीची पोस्ट संबंधित तालुक्यातील सर्वांना कळविण्यात येईल व गरज भासल्यास त्यावर कायदेशीर कारवाई केली जाईल.<br>
          <b>बातम्या </b>– विविध वर्तमानपत्रातील ताज्या बातम्यातील मजकुराच्या विश्वसनियतेची जबाबदारी संबंधित वर्तमानपत्रांची असेल. भव्यदिव्य सदस्यांनी पोस्ट केलेल्या बातम्यांची जबाबदारी संबंधित सदस्याची असेल. आपण अयोग्य बातमीवर आक्षेप घेऊ शकता. ५ जणांनी आक्षेप घेतल्यास आम्ही ती बातमी काढून टाकू.<br>
          <b>विशेष माहिती</b>  – हि सेवा आपणास विषय तज्ञ व जाणकार व्यक्ती तथा संस्थांद्वारे दिली जाते. यातील विश्वसनियतेची जबाबदारी संबंधित व्यक्ती व संस्थेवर असेल.<br>
          <b>जाहीर नोटीस</b>  – नागरिक एकमेकांच्या सहाय्यासाठी या जाहीर नोटीसा भव्यदिव्य वर प्रकाशित करणार आहेत. त्याच्या विश्वसनियतेची व वर्तमानपत्रांच्या पुर्वपरवानगीची जबाबदारी प्रकाशकावर असेल.<br>
           भव्यदिव्य मोफत सेवा असल्याने, काही कारणास्तव सेवेत काही काळ खंड पडला अथवा आपली माहिती नष्ट झाली, तर त्या संदर्भात भव्यदिव्य कोणतीही जबाबदारी घेणार नाही. 
        </div>
    </ion-content>
</ion-view>