<style type="text/css">

 .logorate{
  width: 100px;
  padding-top: 22px;
 }

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
    .tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}

</style>
<ion-view>
  
  <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>
  
    <ion-nav-title>
        <span style="font-size:95%;" class="wideimage">शेअर करा</span>
    </ion-nav-title>
 <ion-content>
        <div class="rate">
         <center><img src="img/wide-screen2.jpg"></center>
        </div><br>
        <center><h3>Share App</h3></center>
        <div>
           <button class="button viewnewsbutton1" ng-click="sharePost(post.url)">Share App</button>
        </div>
        
     
    </ion-content>
</ion-view>