$auth-color: #FFFFFF;
$show-hide-password-color: lighten(#444444, 25%);
$auth-tabs-highlight: $theme-color-1;
$auth-tabs-bg: $theme-color-3;
$auth-tabs-color: darken($auth-color, 10%);
$auth-login-btn-bg: #607D8B;
$auth-signup-btn-bg: rgb(249, 144, 58);
