<style type="text/css">

 .logorate{
  width: 100px;
  padding-top: 22px;
 }

 .ionic_ratings .icon {
   font-size:50px;
 }

 .ionic_ratings .read_only {
   pointer-events:none;
 }
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>
<ion-view>

    <ion-nav-title>
        <span style="font-size:95%;">रेट करा</span>
    </ion-nav-title>

    <ion-content>
          <div class="rate">
           <center><img src="img/wide-screen2.jpg" class="wideimage"></center>
          </div>
          <br>
          <center><h3> रेट करा</h3></center>

          <!-- <div ng-repeat="i in [1]">
              <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
         </div>
         <br> -->
     <center>
         <button class="button eventsearchbtn" ng-click="ratingsCallback(rating, index)"> जतन करा
         </button>
     </center>

    </ion-content>
</ion-view>


