<style type="text/css">

.ion-record:before {
    content: "\f21b";
    color: #ffa726;
    font-size: 36px;
    margin-left: 228px;
    margin-top: 38px;
}
.ion-camera:before {
    content: "\f118";
    margin-left: -23px;
    font-size: 20px;
    color: white;
}

.image2
{
  height: 26%;
    width: 25%;
    
}

.image1
   {
    display: inline-block;
    width: inherit;
    height: inherit;
   }
.image1 input[type="file"] {
    height: inherit;
    width: 80vw;
 z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}


</style>
<ion-view cache-view="false" class="profile-view">
  <ion-nav-title>
    <span style="font-size:95%;"> प्रोफाइल </span>
  </ion-nav-title>
  <ion-content scroll="true">
<!--   <div class="user-background-image-outer">
        <div multi-bg="['img/wide-screen2.jpg']"></div>
      </div> -->

  <form name="profile_form" class="" ng-cloak>
  <!-- <div class="top-content row"> -->
      <div class="profile-container">
        <div class="user-image-container">
          <!-- <pre-img ratio="_1_1" helper-class="rounded-image"> -->

          
            <!-- <img class="user-image"  ng-src="{{image1.compressed.dataURL}}" style="margin-top:90px;" spinner-on-load > -->
          <label  for="f1" class="image1"  ng-if="profilepicurl.PicURL">
              <img id="prfImg" class="user-image"  ng-src={{profilepicurl.PicURL}}>
              <input id="f1" type="file" accept="image/*" ng-model="profilepicurl.PicURL" fileread="profilepicurl.PicURL"  ng-disabled="!newAddress" >
              
          </label> 
           <label for="f2" class="image1"  ng-if="!profilepicurl.PicURL">
              <img  class="user-image" checkImage ng-src="img/person.png">
              <input type="file" id="f2" accept="image/*" ng-model="profilepicurl.PicURL" fileread="profilepicurl.PicURL"  ng-disabled="!newAddress">

          </label> 
        <!-- </pre-img> -->
        </div>
        <div ng-if="profiledata.profileimage" > </div>
      <!-- <div class="user-background-image-outer rate">
          <img src="img/wide-screen2.jpg" class="wideimage">
      </div> -->
        <div  style=" font-size: 20px; margin-top: 15%;margin-right:15%" >{{profiledata.FName}}&nbsp;&nbsp;{{profiledata.LName}}</div>
       <!--   <div class="user-name" >{{profiledata.RefId}}</div> -->
         <span style="margin-right:15%;">Ref No- {{profiledata.RefId}}</span>
      </div>
      
    <!-- </div> -->


    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          
          <style type="text/css">  
          .item-select {
              width: 100%;
              /*width: 345px; margin-left: 5px;*/
           }
          .item-select select {
                    left: 0;
           }
           </style>
              <div class="item item-body">
              <ion-toggle toggle-class="toggle-energized" ng-model="editPassword" >पासवर्ड बदला</ion-toggle>
              <ion-toggle toggle-class="toggle-energized" ng-model="newAddress" ng-click="">
                प्रोफाइल बदला</ion-toggle>
              <div class="card" ng-if="editPassword" >
                   <label class="item item-input" show-hide-container>
                      <input type="password" placeholder="जुना पासवर्ड"  name="opassword" ng-model="user.originalPassword" type="password"  required show-hide-input>
                      <!-- <span class="invalid" ng-show="profile_form.opassword.$error.required && profile_form.opassword.$dirty">पासवर्ड टाका</span> -->
                     <!-- <span class="invalid" id="origPwdSpan" ng-show="isInvalid">Password is incorrect</span> -->
                  </label>

                 <label class="item item-input" show-hide-container>
                    <input type="password"  name="npassword" placeholder="नवीन पासवर्ड" ng-model="user.newpassword" minlength="5" maxlength="15" required show-hide-input>
                    <span class="invalid" ng-show="!profile_form.npassword.$error.required && (profile_form.npassword.$error.minlength || profile_form.npassword.$error.maxlength) && profile_form.npassword.$dirty">पासवर्ड ५ ते १५ अक्षरांचा असावा..</span>
                    <!-- <span class="invalid" ng-show="!profile_form.npassword.$error.required && profile_form.npassword.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character(a number or a symbol.)</span> -->
                  </label>

                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="नवीन पासवर्ड परत लिहा"  name="confirmpassword" ng-model="user.confirmpassword" minlength="5" maxlength="15" match="user.newpassword" required show-hide-input>
                    <!-- <span class="invalid" ng-show="profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$dirty">आपला संकेतशब्द निश्चित करा.</span> -->
                    <span class="invalid" ng-show="!profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$error.match && profile_form.npassword.$dirty">पासवर्ड मॅच होत नाही.</span>
                  </label>
                    <div class="item ">
                        <div class="row">
                           <div class="col">
                                <button type="reset" class="button button-block eventsearchbtn" ng-click="changePassword()"  ng-disabled="profile_form.$invalid && profile_form.$pristine">जतन करा
                              </button>
                            </div>
                        </div> 
                    </div>
             </div>

              <div ng-if="! editPassword ">
                <!--  <label class="item item-input">
                    <input type="text" placeholder="Address" name="user_address" ng-disabled="!newAddress" ng-model="profiledata.address" required>
                    <span class="invalid" ng-show="profile_form.user_address.$error.required && profile_form.user_address.$dirty">Address Required</span>
                  </label> -->

                  <label class="item item-input" >
                        <span class="input-label">अभिवादन</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.SalutationId" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"  ng-disabled="!newAddress">
                            <option ng-value="salutation.SalutationId" ng-repeat="salutation in salutationdata" ng-selected="profiledata.SalutationId==salutation.SalutationId">{{salutation.Salutation}}</option>
                        </select><br>
                  </label>


                   <label class="item item-input">
                      <span class="input-label" >आडनाव</span> 
                      <input type="text" placeholder="आडनाव" name="surName" value={{profiledata.LName}} ng-disabled="!newAddress" ng-model="profiledata.LName" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/">
                    </label>
                    <span style="color:red; font-size:11px;" ng-show="profile_form.surName.$error.minlength || profile_form.surName.$error.maxlength || profile_form.surName.$error.pattern && profile_form.surName.$dirty">आडनाव अचूक लिहा</span>

                
                  <label class="item item-input">
                    <span class="input-label" >नाव</span> 
                    <input type="text" placeholder="नाव" name="fName" value={{profiledata.FName}} ng-disabled="!newAddress" ng-model="profiledata.FName" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/">
                  </label>
                  <span style="color:red; font-size:11px;" ng-show="profile_form.fName.$error.minlength || profile_form.fName.$error.maxlength || profile_form.fName.$error.pattern && profile_form.fName.$dirty">नाव अचूक लिहा</span>


                   <label class="item item-input" >
                        <span class="input-label">लिंग</span><br>
                        <select name="gender"  class="item-select" ng-model="profiledata.Gender" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" ng-change="samajiknavgender(profiledata.Gender)">
                          <option value="">निवडा</option> 
                          <option ng-value="2" ng-selected="2==profiledata.Gender">स्त्रि </option>
                          <option ng-value="1" ng-selected="1==profiledata.Gender">पुरुष</option>
                        </select><br>
                    </label>

                      <label class="item item-input">
                        <span class="input-label">वैवाहिक स्थिती</span><br>
                        <select name="marritual status"  class="item-select " ng-model="profiledata.IsMarried" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                            <option value=""> निवडा</option>
                             <option ng-value="1" ng-selected="1==profiledata.IsMarried">अविवाहित  </option>
                            <option ng-value="2" ng-selected="2==profiledata.IsMarried">विवाहित</option>
                        </select><br>
                      </label>



                    <label class="item item-input" ng-if="profiledata.IsMarried == '1' || profiledata.Gender!='2' ">
                      <span class="input-label">वडिलांचे नाव</span> 
                      <input type="text" placeholder="वडिलांचे नाव" name="mName" value={{profiledata.MName}} ng-disabled="!newAddress"  ng-model="profiledata.MName" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/">
                    </label>
                    <span style="color:red; font-size:11px;" ng-show="profile_form.mName.$error.minlength || profile_form.mName.$error.maxlength || profile_form.mName.$error.pattern && profile_form.mName.$dirty">मधले नाव अचूक लिहा</span>

                    <label class="item item-input" ng-if="profiledata.IsMarried == '2' && profiledata.Gender!='1' ">
                      <span class="input-label">पतीचे नाव</span> 
                      <input type="text" placeholder="पतीचे नाव" name="mName" value={{profiledata.MName}} ng-disabled="!newAddress"  ng-model="profiledata.MName" ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z\-\_ ]*$/">
                    </label>
                    <span style="color:red; font-size:11px;" ng-show="profile_form.mName.$error.minlength || profile_form.mName.$error.maxlength || profile_form.mName.$error.pattern && profile_form.mName.$dirty">>पतीचे नाव अचूक लिहा</span>
                  

                    
                    <label class="item item-input"  ng-if="!newAddress">
                        <span class="input-label" >जन्मदिनांक</span>
                        <input type="text" placeholder="जन्मदिनांक" ng-model="profiledata.BirthDate" name="date" value={{profiledata.BirthDate}} ng-disabled="!newAddress">
                   </label>
                   
                   

                   <label class="item item-input" ng-if="newAddress">
                        <span class="input-label" >जन्मदिनांक</span>
                        <ionic-datepicker input-obj="datepickerObject" >
                            <input type="button"  class="button button-small" value="{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}" name="fromdate" style="border-radius:5px;height:40px;background-color:#eaeaea;margin-left: 2px;width: 186px;border-style: none;padding-right: 110px;">
                        </ionic-datepicker>
                  </label>
                  


                  
                   

                  <label class="item item-input" >
                        <span class="input-label">सामाजिक</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.SamajikNavId" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                            <option value=""> निवडा</option>
                            <option ng-value="samajivnav.SamajikNavId" ng-repeat="samajivnav in samajikdata" ng-selected="samajivnav.SamajikNavId==profiledata.SamajikNavId">{{samajivnav.SamajikNav}}</option>
                        </select><br>
                  </label>

                  <label class="item item-input" >
                        <span class="input-label">पदनाम</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.PadnamId" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                         <option value=""> निवडा</option>
                            <option ng-value="padnav.PadnamId" ng-repeat="padnav in padnamdata" ng-selected="padnav.PadnamId==profiledata.PadnamId">{{padnav.Padnam}}</option>
                        </select><br>
                  </label>

                

                 <label>
                      <span class="input-label" style="width:100%"><b>मुळ गाव-कायमचा पत्ता </b></span>
                  </label>

                  <label class="item item-input" >
                    <span class="input-label">राज्य</span><br>
                    <select name="state"  class="item-select" ng-model="profiledata.ParStateId" ng-disabled="!newAddress" ng-change="pardistrict(profiledata.ParStateId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color:#eaeaea;margin-left: 0px;">
                    <option value="">निवडा</option>
                        <option ng-value="states.StateId" ng-repeat="states in statedata" ng-selected="states.StateId==profiledata.ParStateId" >
                        {{states.State}}</option>
                    </select><br>
                  </label>

                   

                  <label class="item item-input" >
                    <span class="input-label">जिल्हा</span><br>
                    <select name="state"  class="item-select" ng-model="profiledata.ParDistrictId" ng-disabled="!newAddress"  ng-change="parGetTaluka(profiledata.ParDistrictId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                    <option value="">निवडा</option>
                        <option ng-value="pardist.DistrictId" ng-repeat="pardist in pardistrictdata" ng-selected="pardist.DistrictId==profiledata.ParDistrictId">{{pardist.District}}</option>
                    </select><br>
                  </label>

                  <label class="item item-input" >
                    <span class="input-label">तालुका / शहर</span><br>
                    <select name="state"  class="item-select" ng-model="profiledata.ParTalukaId" ng-disabled="!newAddress" ng-change="parGetVillage(profiledata.ParTalukaId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                        <option value="">निवडा</option>
                        <option ng-value="partalukas.TalukaId" ng-repeat="partalukas in partaluka" ng-selected="partalukas.TalukaId==profiledata.ParTalukaId">{{partalukas.Taluka}}</option>
                    </select><br>
                  </label>

                  <label class="item item-input" >
                    <span class="input-label">गाव / उपनगर </span><br>
                    <select name="state"  class="item-select selectothers" ng-model="profiledata.ParVillageId" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                    <option value="" > निवडा</option>
                        <option ng-value="parvillage.VillageId " ng-repeat="parvillage in parvillages" ng-selected="parvillage.VillageId==profiledata.ParVillageId" >{{parvillage.Village}}</option>
                    </select><br>
                  </label>


                   <label>
                      <span class="input-label" style="width:100%"><b>सध्याचा पत्ता वरीलप्रमाणे असल्यास</b>&nbsp;<input type="checkbox" ng-model="profiledata.IsSameAddress"> </span> 
                  </label>

                  

                  <div ng-if="profiledata.IsSameAddress!=true">

                      <label class="item item-input" >
                        <span class="input-label">राज्य</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.PresStateId" ng-disabled="!newAddress" ng-change="pressdistrict(profiledata.PresStateId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                          <option value="" >निवडा</option>
                            <option ng-value="states.StateId" ng-repeat="states in statedata" ng-selected="states.StateId==profiledata.PresStateId" >{{states.State}}</option>
                        </select><br>
                      </label>

                      <label class="item item-input" >
                        <span class="input-label">जिल्हा</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.PresDistrictId" ng-disabled="!newAddress"  ng-change="pressGetTaluka(profiledata.PresDistrictId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                        <option value="" >निवडा</option>
                            <option ng-value="pressdist.DistrictId" ng-repeat="pressdist in perssdistrictdata" ng-selected="pressdist.DistrictId==profiledata.PresDistrictId" >{{pressdist.District}}</option>
                        </select><br>
                      </label>

                      <label class="item item-input" >
                        <span class="input-label">तालुका/शहर</span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.PresTalukaId" ng-disabled="!newAddress"  ng-change="pressGetVillage(profiledata.PresTalukaId)" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                        <option value="">निवडा</option>
                            <option ng-value="presstalukas.TalukaId" ng-repeat="presstalukas in persstaluka" ng-selected="presstalukas.TalukaId==profiledata.PresTalukaId">{{presstalukas.Taluka}}</option>
                        </select><br>
                    </label>

                      <label class="item item-input" >
                        <span class="input-label">गाव/उपनगर </span><br>
                        <select name="state"  class="item-select" ng-model="profiledata.PresVillageId" ng-disabled="!newAddress" style="width: 175px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
                        <option value="" >निवडा</option>
                            <option ng-value="pressvillage.VillageId " ng-repeat="pressvillage in perrvillages" ng-selected="pressvillage.VillageId==profiledata.PresVillageId" >{{pressvillage.Village}}</option>
                        </select><br>
                      </label>
                  </div>
                   
                      

                      <label class="item item-input" >
                          <span class="input-label">मोबाईल क्रमांक </span> 
                          <input type="tel" placeholder="मोबाईल क्रमांक " value={{profiledata.MobileNo1}} ng-disabled="!newAddress" ng-model="profiledata.MobileNo1" name="mobileno" minlength="10" maxlength="10" ng-pattern="/^(\d)+$/"><br>
                      </label>
                       <span style="color:red; font-size:11px;" ng-show="profile_form.mobileno.$dirty && profile_form.mobileno.$error.pattern">फक्त आकड्यात भरा</span>
                      <span style="color:red; font-size:11px;" ng-show="!profile_form.mobileno.$error.required && (profile_form.mobileno.$error.minlength || profile_form.mobileno.$error.maxlength) && profile_form.mobileno.$dirty">१० आकडी मोबाईल नंबर भरा</span>

                      <label class="item item-input ">
                          <span class="input-label">वॉट्सअॅप क्रमांक</span> 
                          <input type="text" placeholder="वॉट्सअॅप क्रमांक" value={{profiledata.PhoneNo}} ng-disabled="!newAddress" ng-model="profiledata.PhoneNo" name="PhoneNo" minlength="10" maxlength="10" ng-pattern="/^(\d)+$/">
                       </label>
                       <span style="color:red; font-size:11px;" ng-show="profile_form.PhoneNo.$dirty && profile_form.PhoneNo.$error.pattern">फक्त आकड्यात भरा</span>
                       <span style="color:red; font-size:11px;" ng-show="!profile_form.PhoneNo.$error.required && (profile_form.PhoneNo.$error.minlength || profile_form.PhoneNo.$error.maxlength) && profile_form.PhoneNo.$dirty">१० आकडी मोबाईल नंबर भरा</span>

                        <label class="item item-input ">
                          <span class="input-label" >ई-मेल आयडी</span> 
                         <input type="email" placeholder="ई-मेल आयडी" value={{profiledata.EmailId}} ng-disabled="!newAddress" ng-model="profiledata.EmailId">
                       </label>
                       <br>


                   <div class="row">
                      <div class="col">
                           <button type="button" class="button button-block eventsearchbtn" ng-click="saveaddress(profiledata.profileimage,profiledata)"  ng-disabled="profile_form.$invalid && profile_form.$pristine">जतन करा
                        </button>
                      </div>
                  </div> 
              </div>
             </div>
          </form>
        </div>

  </ion-content>
</ion-view>


