<style type="text/css">
  .item-icon-left{
        cursor: pointer;
  }

</style>

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container" ng-if="profilepicurl.PicURL">
           <!--  <pre-img ratio="_1_1" helper-class="rounded-image"> -->
              <img id="smallimg" class="user-image"  ng-src={{profilepicurl.PicURL}} helper-class="rounded-image">
            <!--  </pre-img> -->
          </div>
          <div class="user-image-container"  ng-if="!profilepicurl.PicURL">
           <!--  <pre-img ratio="_1_1" helper-class="rounded-image"> -->
              <img  class="user-image" checkImage ng-src="img/person.png" helper-class="rounded-image">
            <!--  </pre-img> -->
          </div>
          <h2 class="greeting" >{{profiledata.FName}}&nbsp;&nbsp;{{profiledata.LName}}</h2>
          <p class="message"  ng-if="!profiledata.SamajikNav">नमस्कार   {{profiledata.FName}}</p>
          <p class="message" ng-if="profiledata.SamajikNav">नमस्कार   {{profiledata.SamajikNav}}</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.Home">
          <i class="icon ion-speedometer"></i>
          <h2 class="menu-text">डॅशबोर्ड</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.notification">
          <i class="icon ion-android-notifications"></i>
          <h2 class="menu-text">अत्यावश्यक सुचना</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.aboutus">
          <i class="icon ion-person"></i>
          <h2 class="menu-text">आमच्या विषयी</h2>
        </ion-item>
        <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.rateus">
          <i class = "icon icon ion-star"></i>
          <h2 class="menu-text">रेट करा</h2>
        </ion-item>  -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.termsconditions">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text">वचन व गोपनियता</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="http://bhavyadivya.com/User/New-Event.aspx">
          <i class="icon ion-ios-person"></i>
          <h2 class="menu-text">एक्स्पर्ट-तज्ञ लॉगीन</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contactus">
          <i class="icon ion-android-contacts"></i>
          <h2 class="menu-text">संपर्क साधा</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.logout" ng-click="logout()">
          <i class="icon ion-locked"></i>
          <h2 class="menu-text">लॉग आउट</h2>
        </ion-item>
        
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
