<style type="text/css">

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view class="post-view">

    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="detailnoticeshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
      <ion-nav-title>
        <span> विस्तृत माहिती</span>
      </ion-nav-title>

      <ion-content>
  
            <div class="post-heading item item-text-wrap">
            <p class="post-author">
                <span>{{detailgetnoticelist.SubmittedBy}} यांनी हि जाहीर नोटीस समाविष्ठ केली</span><br><br>
              </p>
              <h3>तालुका : {{detailgetnoticelist.Taluka}}</h3>
              <p class="post-author">
                <span>गाव : {{detailgetnoticelist.Village}}</span>
              </p>
            </div>
            <br>

            <div class="post-heading item item-text-wrap">
                <p>गट /सर्वे नं : {{detailgetnoticelist.SurveyNo}}</p>
                <p>प्रकाशन दिनांक : {{detailgetnoticelist.PublishDate}}</p>
                <p>वर्तमानपत्र : {{detailgetnoticelist.NewsPaper}}</p>
            </div>

            <div class="post-content item item-text-wrap" post-content>
                <div ng-if="detailgetnoticelist.ImageUrl1 !=''">
                    <ion-slide-box show-pager="true">
                          <ion-slide ng-repeat="i in [detailgetnoticelist.ImageUrl1,detailgetnoticelist.ImageUrl2] track by $index" >
                            <div class="list card">
                              <div class="item item-image">
                                <img ng-src="{{i}}" zoom-src="{{i}}" zoom-view>
                              </div>
                            </div>
                          </ion-slide>
                  </ion-slide-box>
                </div>
            </div>

      
     
    </ion-content>

        <ion-footer-bar class="post-footer bar bar-footer bar-dark footer1">
          <div class="row ">
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
              <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>
           </div>
        </ion-footer-bar>
</ion-view>