<style type="text/css">

.newsp
{
    margin-left: 3px;
   margin-top: -10px;
}
.ion-chevron-right:before {
    content: "\f125";
    float: right;
    margin-right: -32px;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.mainrow{
  background-color: #fdfdfd;
}
.rowdata{
  background-color: #f3f3f3;
}
</style>

<ion-view>

 <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="getnoticeconfrim()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

    <ion-nav-title>
      <span style="font-size:95%;">माझ्या मालमत्तेच्या नोटीसा</span>
    </ion-nav-title>
 <ion-content>
<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchnoticlist()">
    </ion-refresher>
 <br>
   <div style="width:100%;margin-left: 0px;">
    <div class="row header">
            <div class="col col-30 row1 rowdata">प्रकाशन दिनांक</div>
            <div class="col col-30">गाव</div>
            <div class="col col-20">गट/सर्वे नं</div>
       </div>
        <div class="row" ng-repeat="getnotice in getnoticelistdata" on-tap="specificnoticepage(getnotice)">
          <div class="col col-30 row1 rowdata">{{getnotice.PublishDate}}</div>
          <div class="col col-30 rowdata" >{{getnotice.Village}}</div>
          <div class="col col-20 mainrow rowdata">{{getnotice.SurveyNo}}</div>
        </div>
       
     </div>

</ion-content>


</ion-view>