<style type="text/css">
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}
.eventsearch
  {
        border: hidden;
  }

.eve
{
  width: 90%;
  border-radius: 12px;   
}
.personalevent
  {
   background-color: white!important;
  }
  .header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}
.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.rowdata{
	background-color: #f3f3f3;
}
</style>
<ion-view class="feeds-categories-view personalevent" >
		


    <ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="publicnoticevillageshowconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
	  <ion-nav-title>
	    <span style="font-size:95%;">गावे निवडा</span>
	  </ion-nav-title>

  <ion-content>

  <br>
  	<form name="feeds_form" class="" novalidate ng-cloak>
		<div class="list">

		  <label class="item item-input listborder" >
		    <span class="input-label">राज्य <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.StateId" ng-change="district(notice.StateId)" style="width: 188px!important;height: 40px;padding-left:10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{states.StateId}}" ng-repeat="states in statedata" >{{states.State}}</option>
		        
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">जिल्हा <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.DistrictId" ng-change="selTaluka(notice.DistrictId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"  required >
		    	<option value="" selected> निवडा</option>
		        <option value="{{dist.DistrictId}}" ng-repeat="dist in districtdata" >{{dist.District}}</option>
		       
		    </select>
		  </label>

		  <label class="item item-input listborder">
		    <span class="input-label">तालुका / शहर <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.TalukaId" ng-change="village(notice.TalukaId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{talukas.TalukaId }}" ng-repeat="talukas in taluka" >{{talukas.Taluka}}</option>
		       
		    </select>
		  </label>


		  <label class="item item-input listborder">
		    <span class="input-label">गाव / उपनगर  <font style="color:red;">*</font></span><br>
		    <select name="state"  class="item-select" ng-model="notice.VillageId" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
		    	<option value="" selected> निवडा</option>
		        <option value="{{village.VillageId }}" ng-repeat="village in villages" >{{village.Village}}</option>
		        
		    </select>
		  </label>

		

		<div class="row">
                    <div class="col">
                      <button type="submit" class="button  button-block eventsearchbtn" name="filter" ng-click="insertvillagenotice(notice.VillageId)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                    </div>

                    <div class="col">
                     <button type="reset" ng-click="resetinsertvillagedata()" class="button  button-block eventsearchbtn" name="filter">पूर्ववत</button>
                    </div>
    	</div>

		</div>
	</form>

	<br>

	<div  style="width: 100%;margin-left: 0px;;">

      <div class="row header">
          <div class="col col-20 row1">नं.</div>
          <div class="col">गाव</div>
          <div class="col col-25">नष्ट करा</div>
      </div>
      
      <div class="row" ng-repeat="getnotice in getnoticevillages">
          <div class="col col-20 row1 rowdata">{{$index+1}}</div>
          <div class="col rowdata">{{getnotice.Village}}</div>
          <div class="col col-25 rowdata"><i class="icon ion-ios-trash-outline trash1" ng-click="deletevillagenotice(getnotice.TaggedVillageId)"></i></div>
      </div>

    </div>
 </ion-content>
</ion-view>