<style type="text/css">
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}
.mainrow{
	background-color: #fdfdfd;
}
.rowdata{
	background-color: #f3f3f3;
}
.trash1{
	font-size: 25px;
    color: #607D8B;

}
.button1
{
	background-color: rgba(0, 150, 136, 0.68);
}
.proginclude2{
  	background-color: white!important;
  }
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}


</style>

<ion-view class="feeds-categories-view proginclude2">
		
	<ion-nav-buttons side="right">
          <button class=" button button-icon" ng-click="usernoticeconfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>
 
	  <ion-nav-title>
	    <span style="font-size:95%;">  मी भरलेल्या नोटीसा</span>
	  </ion-nav-title>

  <ion-content>

<br>


  <div style="width:100%;margin-left: 0px;">
    <div class="row header">
            <div class="col col-30 row1 rowdata">प्रकाशन दिनांक</div>
            <div class="col col-30">गाव</div>
            <div class="col col-20">गट/सर्वे नं</div>
            
       </div>
        <div class="row" ng-repeat="usernotice in usernoticedata" on-tap="usernoticespecificpage(usernotice)">
          <div class="col col-30 row1 rowdata">{{usernotice.PublishDate}}</div>
          <div class="col col-30 rowdata" >{{usernotice.Village}}</div>
          <div class="col col-20 mainrow rowdata">{{usernotice.SurveyNo}}</div>
        </div>
       
     </div>

 </ion-content>
</ion-view>