<style type="text/css">

 .logorate{
  width: 100px;
  padding-top: 22px;
 }
    .termscond{
        text-align: justify;
        padding-left: 15px;
        padding-right: 20px;
    }
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>
<ion-view>
    <ion-nav-title>
        <span>आमच्या विषयी</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
      
    </ion-nav-buttons>
    
 <ion-content>
        <div class="rate">
         <center><img src="img/wide-screen2.jpg" class="wideimage"></center>
        </div>
        <br>
        <center><h3>आमच्या विषयी</h3></center>
        <div class="termscond">
            <b>निर्मिती मागील उद्देश:</b><br>
            समाजाच्या सुख: दुख:त सामील होऊन, सातत्याने समाजाच्या भल्याचा विचार करणा-या सामाजिक कार्यकर्त्यांसाठी भव्यदिव्य या ॲप ची निर्मिती करण्यात आलेली आहे. महाराष्ट्रातील निमशहरी व  ग्रामीण जीवनामध्ये मोठ्या कुटुंबात/घरटी असा एकतरी कारभारी/कार्यकर्ता असतो कि ज्याने सामाजिक जीवनात स्वत:ला झोकून दिले आहे. समाजासाठी अहोरात्र झटणारा असा कार्यकर्ता काही भव्यदिव्य ध्येयाने वाटचाल करत असतो. या वाटेवर त्याला खूप जास्त आवश्यकता असते ती सूत्रबद्ध नियोजनाची. <br>
            आपला दिवस कसा आखावा, कुठले कार्यक्रम स्वीकारावेत, जास्तीत जास्त कार्यक्रमांमध्ये कसे सामील व्हावे हे नियोजन कार्यकर्त्याला या ॲप द्वारे करता येईल व दिवसातील प्रत्येक मिनीट त्याला अधिक चांगल्या प्रकारे वापरता येईल.<br>
            स्वत:च्या सक्षम नेतृत्वातून, सुयोग्य नियोजनाने, भव्यदिव्य असे कार्यकर्तुत्व आपल्या हातून घडावेहीच या ॲप च्या निर्मितीमागील प्रेरणा आहे.<br><br>
            <b>प्रवर्तक:</b><br>
            माहिती दळणवळण तंत्रज्ञानाच्या माध्यमातून गेली १५ वर्षे समाजपरिवर्तन व संपन्नतेसाठी कार्यरत असलेल्या श्री रवी घाटे यांच्या संकल्पनेतून या ॲप ची निर्मिती करण्यात आली आहे. रवी घाटे यांना सन २००५-०६ सालचा “राष्ट्रीय युवा पुरस्कार” भारताचे तत्कालीन राष्ट्रपती महामहीम डॉ. ए. पी. जे. अब्दुल कलाम साहेबांच्या शुभहस्ते प्राप्त झाला आहे. देश विदेशातील अनेक नामांकित पुरस्कार व सन्मान त्यांना प्राप्त झाले आहेत. त्यांच्यावर जगभरातील नामांकीत विद्यापीठे व संस्थानी शोधनिबंध व संशोधन पत्र प्रसिद्ध केली आहेत. २०११ साली जगप्रसिद्ध फोर्ब्स इंडिया मासिकाने त्यांच्या उपक्रमास देशातील ५ सर्वोत्तम नवउद्यमांमध्ये सामील केले होते. त्यांच्याविषयी अधिक माहितीसाठी कृपया <a ng-click="openBrowser()"> www.RaviGhate.com</a> 
              या संकेतस्थळास भेट द्यावी.<br><br>
            <b>सह्प्रवर्तक:</b><br>
            या ॲप ची तांत्रिकबाजू इंजिनियर श्री चेतन जाधव यांनी सक्षमपणे सांभाळली आहे. त्यांच्याच २ वर्षांच्या अथक प्रयत्नातून हे ॲप साकारू शकले आहे.'<br><br>
            <b>श्रेयनामांकन:</b><br>
            भव्य-दिव्य Android व iOS अँप विकसित करण्यासाठी CareerTech IT Solutions, Pune चे संचालक श्री प्रणय कडू व श्री संजीव सिंह यांचे मोलाचे सहकार्य लाभले.<br><br>
            भव्य-दिव्य अँप सुरळीत चालण्यासाठी उत्तम दर्जाचे वेगवान सर्व्हर्स Tagen Solutions, Pune चे संचालक श्री आनंद शिंदे यांनी पुरविले आहेत.

        </div>
     
    </ion-content>
</ion-view>