@each $font-size in $font-size-list {
  $i: index($font-size-list, $font-size);
  .post-size-#{$font-size}
  {
    .post-view .post-text
    {
      font-size: $font-size;
      text-align: justify;
    }
  }
}

.post-view
{
  .post-heading
  {
    padding-bottom:0px;
    border-color: transparent;
  }

  .post-content
  {
    border-color: transparent;

    // Audio fix
    .wp-audio-shortcode
    {
      visibility: visible !important;
    }

    .post-text
    {
      *
      {
        font-size: inherit !important;
      }
    }

    // Fix audio tag not displaying to 100% on ios
    audio::-webkit-media-controls-panel
    {
      width: 100% !important;
    }

    img
    {
      margin: 10px 0px;
    height: auto;
    width: -webkit-calc(74%);
    }

    ul, ol
    {
      list-style-type: square;
      padding: 0 0 0 40px;
      margin: 14px 0px;
    }

    iframe
    {
      margin: 10px 0px;
      @include calc(width, "100% + #{($sides-padding*2)}");
      margin-left: - $sides-padding;
    }

    blockquote
    {
      font-style: italic;
      font-weight: 300;
      margin: 20px 20px;
      border: none;
      padding: 0px;

      p
      {
        font-size: 16px;
      }
    }
  }

  .post-tags
  {
    border-color: transparent;
    padding-top: 0px;
    padding-bottom: 5px;

    .post-tag
    {
      padding: 0 3px;
      min-height: 24px;
      font-size: 12px;
      line-height: 24px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    .post-tag:last-child
    {
      margin-right:0px;
    }
  }

  .post-footer
  {
    padding:0px;
    background-color: darken($post-footer-bg, 10%);

    .row,
    .col
    {
      padding: 0px;
    }

    .col.col-20
    {
      text-align: center;
    }

    .ion-plus
    {
      font-size: 24px;
    }

    .ion-plus:before
    {
      font-size: 20px !important;
      line-height: 15px !important;
    }

    .ion-minus
    {
      font-size: 18px;
    }

    .ion-minus:before
    {
      font-size: 14px !important;
      line-height: 20px !important;
      margin-left: 3px;
    }
  }

  .post-title
  {
    font-size: 24px;
    margin-bottom: 4px;
    color: $post-footer-bg;
  }

  .post-author
  {
    font-weight: 500;
  }
}
