<style type="text/css">

.textbox
{
    margin-left: 21px;
    width: 90%;
    background-color: #eaeaea;
    padding-left: 6%;
    padding-top: 3%;
}


  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
    
</style>
<ion-view>

    <ion-nav-buttons side="right">
      <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

    <ion-nav-title>
        <span style="font-size:95%;">संपर्क साधा</span>
    </ion-nav-title>

    <ion-content>
        <div class="rate">
            <center><img src="img/wide-screen2.jpg" class="wideimage"></center>
        </div>
        <br>
        <center><h3>संपर्क साधा</h3></center>

        <form>

            <textarea class="textbox" placeholder="संदेश" rows="5" ng-model="contactmessage.con_message"></textarea><br>

            <div class="row">
                <div class="col">
                     <button type="reset" class="button button-block eventsearchbtn" ng-click="contactusdata()">संदेश पाठवा</button>
                </div>
            </div>
        </form>
        <p style="text-align: justify;text-align: justify;margin-left: 10PX;margin-right: 10px;">कृपया आपल्या मोबाईलमध्ये व विविध ग्रुप्समध्ये भव्यदिव्यचा <a href="tel:9960022333" >9960022333</a> हा व्हॉट्सअप नंबर सेव्ह करा व आम्हास आपले विविध कार्यक्रम, पत्रिका, बातम्या, जाहीर नोटीसा किंवा समाजउपयोगी माहिती व्हॉट्सअप करा.</p>
    </ion-content>
</ion-view>