<style type="text/css">

.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-item.tab-item-active .tab-title
{
  color: #FFC107!important;
}
.tabs-top.tabs-striped:not(.tabs-icon-left):not(.tabs-icon-top) .tab-title
{
  color:white!important;
}


  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view cache-view="true" class="wordpress-view sp">

   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  <ion-nav-buttons side="right">
        <button class=" button button-icon" ng-click="othershowConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-nav-buttons>

  <ion-nav-title>
    <span style="font-size:95%;color:white">विशेष माहिती</span>
  </ion-nav-title>

  <ion-content>
  <br>
  <form name="wordpress_form" class="" novalidate ng-cloak>

  <div class="list">

      <label class="item item-input listborder" >
        <span class="input-label">क्षेत्र <font style="color:red;">*</font></span><br>
        <select name="state"  class="item-select" ng-model="areas.InfoId" ng-change="vibhagdata(areas.InfoId)" style="width:188px!important;height: 40px;padding-left:10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
            <option value="" selected> निवडा</option>
            <option value="{{areas.InfoId }}"  ng-repeat="areas in infodata" >{{areas.InfoName}}</option>
         </select><br>
      </label>

      <label class="item item-input listborder" >
        <span class="input-label">विभाग</span><br>
          <select name="state"  class="item-select" ng-model="areas1.InfoType1Id" ng-change="upvibhagdata(areas1.InfoType1Id)" style="width: 188px!important;height:40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;">
              <option value="" selected> निवडा</option>
               <option value="{{areas1.InfoType1Id}}" ng-repeat="areas1 in infodata1">{{areas1.InfoType1Name}}</option>
         </select><br>
      </label>

      <label class="item item-input listborder" >
        <span class="input-label">उपविभाग</span><br>
          <select name="state"  class="item-select" ng-model="areas2.InfoType2Id" style="width: 188px!important;height:40px;padding-left:10px;border-radius: 5px; border-style:none; background-color: #eaeaea;margin-left: 0px;">
              <option value="" selected> निवडा</option>
              <option value="{{areas2.InfoType2Id}}" ng-repeat="areas2 in infodata2">{{areas2.InfoType2Name}}</option>
         </select><br>
      </label>
      <br>



      <div class="row">
          <div class="col">
               <button class="button  button-block eventsearchbtn" ng-click="fetchspnews(areas.InfoId,areas1.InfoType1Id,areas2.InfoType2Id)" ng-disabled="wordpress_form.$invalid">शोधा</button>
           </div>
      </div>

  </div>
</form>
<br>
<div class="card" ng-repeat="specialnews in specialnwsdetail" class="list card post-item" on-tap="selectedspecificnewspage(specialnews)">
           <div class="item">
              <h2> {{specialnews.NewsTitle | limitTo: 150}}{{specialnews.Heading.length > 150 ? '...' : ''}}</h2>
                        
              <p style="white-space: normal;"> {{ specialnews.NewsDescription  | limitTo: 200 }}{{specialnews.NewsDescription.length > 200 ? '...' : ''}}
              <br>
                <p>
                    <i class="icon ion-eye">&nbsp;{{specialnews.IsSeen}}&nbsp;&nbsp;वाचक</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon ion-chatbubble">&nbsp;&nbsp;{{specialnews.CommentCnt}}&nbsp;&nbsp;प्रतिक्रिया</i>
                    <i class="icon ion-eye eyeicon" data-toggle="tooltip" title="बघा"></i>
                </p>

           </div>
  </div>

  </ion-content>
 
  </ion-view>

