<style type="text/css">
.header .col {
    background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(128, 128, 128, 0.45));
}

.col {
    border: solid 1px rgba(128, 128, 128, 0.02);
    border-bottom-style: none;
    border-right-style: none;
}

.rowdata{
	background-color: #f3f3f3;
}
.sparea{
	background-color: white!important;
}

  .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}

</style>

<ion-view class="feeds-categories-view sparea">
		<ion-nav-buttons side="right">
       		 <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
        
 		 </ion-nav-buttons>

	<ion-nav-title>
	    <span style="font-size:95%;"> विशेष माहिती क्षेत्र निवडा</span>
	    
	 </ion-nav-title>

 	<ion-content>
	<br>
		<form name="feeds_form" class="" novalidate ng-cloak>
			<div class="list">

					<label class="item item-input listborder" >
				      <span class="input-label">क्षेत्र <font style="color:red;">*</font></span><br>
				      <select name="InfoName"  class="item-select" ng-model="areas.InfoId" ng-change="vibhagdata(areas.InfoId)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;" required>
				      		<option value="" selected> निवडा</option>
				          <option value="{{areas.InfoId }}"  ng-repeat="areas in infodata" >{{areas.InfoName}}</option>
				       </select>
				    </label>

				    <label class="item item-input listborder" >
				      <span class="input-label">विभाग <font style="color:red;">*</font></span><br>
				        <select name="InfoType1Name"  class="item-select" ng-model="areas1.InfoType1Id" ng-change="upvibhagdata(areas1.InfoType1Id)" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"required>
				        	<option value="" selected> निवडा</option>
				             <option value="{{areas1.InfoType1Id}}" ng-repeat="areas1 in infodata1">{{areas1.InfoType1Name}}</option>
				       </select>
				    </label>

				    <label class="item item-input listborder" >
				      <span class="input-label">उपविभाग <font style="color:red;">*</font></span><br>
				        <select name="InfoType2Name"  class="item-select" ng-model="areas2.InfoType2Id" style="width: 188px!important;height: 40px;padding-left: 10px;border-radius: 5px; border-style: none; background-color: #eaeaea;margin-left: 0px;"  required>
				        	<option value="" selected> निवडा</option>
				            <option value="{{areas2.InfoType2Id}}" ng-repeat="areas2 in infodata2">{{areas2.InfoType2Name}}</option>
				       </select>
				    </label>

				  <br>



				  <div class="row">
                    <div class="col">
                      <button type="submit" class="button   button-block eventsearchbtn" name="filter" ng-click="insertarea(areas.InfoId,areas1.InfoType1Id,areas2.InfoType2Id)" ng-disabled="feeds_form.$invalid">जतन करा</button>
                    </div>

                    <div class="col">
                     	<button type="reset" ng-click="resetarea()" class="button  button-block eventsearchbtn" name="filter" ng-click="resetarea()">पूर्ववत</button>
                    </div>
          		 </div>


			</div>
	</form>
	<br>
	<div style="width: 100%;margin-left: 0px;">
		<div class="row header">
	          <div class="col col-20 row1">नं.</div>
	          <div class="col">क्षेत्र</div>
	          <div class="col col-25">नष्ट करा</div>
	     </div>
      
         <div class="row" ng-repeat="are in allarea">
          <div class="col col-20 rowdata row1">{{$index+1}}</div>
          <div class="col rowdata">{{are.InfoType2Name}}</div>
          <div class="col col-25 rowdata"><i class="icon ion-ios-trash-outline trash1" ng-click="deletearea(are.NewsFilterId)"></i></div>
        </div>
        
    </div>
 </ion-content>

</ion-view>