<style type="text/css">
.pane{
   background-image: white;
}
.has-header {
    top: 44px;
    bottom: 60px;
}
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
    color: #fafafa;
}
</style>

<ion-view class="miscellaneous-view">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


    <ion-nav-buttons side="right">
           <button class=" button button-icon" ng-click="showConfirm()"><i class="ion-information-circled" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </ion-nav-buttons>

  <ion-nav-title>
    <span style="font-size:95%;">प्रतिक्रिया </span>
  </ion-nav-title>

  <ion-content>
      <br>
   <div data-ng-repeat="comments in allspecialcomment.slice().reverse()">
      <div ng-if="$index %2 == 0" class="margincomment">
         <div class="chat-bubble left" ng-click="showActionsheet(comments.CommentId,comments.UserId)">
          <img src="{{comments.profilepicurl}}" class="avtar1" ng-if="comments.profilepicurl">
          <img src="img/person.png" class="avtar1" ng-if="!comments.profilepicurl">
                <div>
                    <b> {{comments.CommentBy}}&nbsp;</b>
                    <p>{{comments.CreatedDate}}&nbsp;{{comments.CreatedTime}}</p>
                </div>
           
                <div>
                <p>
                    <span>{{comments.Comment}}</span>&nbsp;&nbsp;</p>
                  
                 </div>
          </div>
      
        </div>
       
          <div ng-if="$index %2 != 0" class="margincomment">
            <img src="{{comments.profilepicurl}}" class="avtar2" ng-if="comments.profilepicurl"> 
             <img src="img/person.png" class="avtar2" ng-if="!comments.profilepicurl">
              <div class="chat-bubble right" ng-click="showActionsheet(comments.CommentId,comments.UserId)">
                <div>
                    <b>{{comments.CommentBy}}</b>
                    <p>{{comments.CreatedDate}}&nbsp; {{comments.CreatedTime}}</p>
                </div>
                <div>
                <p>
                    <span>{{comments.Comment}}</span>&nbsp;&nbsp;</p>
                    
                </div>
              </div>
          
          </div>
      </div>

  </ion-content>
  
      <div class="bar bar-footer bar-stable comment-stable-main">
         <span class="col-75">
            <label>
                <textarea ng-model="insertspecialcomment.comment" auto-focus class="commenttxt" cols="33"></textarea>
            </label>
        </span>
          <span class="col-25">
            <button type="submit" class="button button-small sendbtn" ng-click="insertspecialcomment(insertspecialcomment.comment)"><span class="icon ion-android-send sendicon"></span></button>
          </span>
     </div>
  </ion-view>

   
 