.viewnewsbutton
{
    background-color: #f9903a;
    border-color: #f9903a;
    color: white;
}
.nav{
      margin-left: 15px;
    font-size: 15px;
}
.ion-chatbubbles:before
 {
    color: white;
    font-size: 28px;

}
.zoom{
  color: white;
}
  .chat-bubble.left {
    background-color: #ece7e7;
    margin-left: 55px;
    border-botselectom-left-radius: 33px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.21);
}

.chat-bubble.right{
  background-color: #ded7d7;
    margin-right: 57px;
    text-align: right;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 17px;
    box-shadow: 1px 5px 5px rgba(19, 18, 18, 0.41);
    margin-left: 90px;
}

.chat-bubble {
    display: inline-block;
    padding: 4px 8px;
    position: relative;
       margin: 14px;
    max-width: 75%;
    min-width: 60%;
    margin-left: 50px;
}

.avtar1{
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: -53px;
}

.avtar2{
    margin-left: 320px;
    margin-top: 27px;
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ion-ios-trash-outline:before {
    content: "\f4c4";
    color: #607D8B;
    font-size: 20px;
}

.commenttxt {
    height: 59px;
    margin-left: 26px;
    border-radius: 10px;
    margin-top: 1px;
    padding-left: 5px;
    padding-top: 8px;
}
.bar.bar-stable {
    border-color: #262626;
    background-color: #262626;
    height: 72px;
    }
.sendicon{
    color: #5b5b5b!important ;
    }
.sendbtn{
    float: right;
    border-radius: 20px;
    margin-top: 11px;
    border-color: #ffffff!important;
    background-color: #ffffff!important;
    margin-right: 7px;
    }
.listborder{
    border-style: none;
  }
.deletedata
{
  font-size: 35px;
    color: #eff1f5;
}

.fileupload
{
      margin-left: 26px;
}
.selectothers {
    width: 55%!important;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: #eaeaea;
    margin-left: 0px;
    padding-left: 20%;
}
.filterbutton
{
   min-height: 41px;
  background-color: #4db6ac;
}

 .trash1
 {
    font-size: 25px;
    color: #607D8B;

}

.sp
 {
    background-color: white!important;
    vertical-align: middle;
}
.selectothersspall
  {
    width: 325px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    margin-top: 8px;
    background-color: aliceblue;
   
  }
  .selectotherssparea
    {
        width: 325px;
        height: 40px;
        border-radius: 20px;
        border-style: none;
        margin-top: 8px;
        background-color: aliceblue;
    }
    .margincomment{
        margin-top: -15px;
    }
    .newssearchbtn{
        background-color: #ff964c;
        border-color: #ff964c;
    }
.label 
{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 93%;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.bgm-blue
{
  background-color: #5b5b5b  !important;
  margin-left: 4px;
}
/*.footer1{
    background-color: #ff964c;
    border-color: #ff964c!important;
}*/
.footer1{
    background-color: #5b5b5b !important;
    border-color: #5b5b5b !important;
}
.place
{
    border-color: #5b5b5b !important;
    background: transparent;
    color: #5b5b5b !important;
}
.Participant{
    border-color: black!important;
    background: transparent;
    color: black!important;
}
.obj{
    background-color: rgb(130, 130, 130);
    border-color: rgba(68, 68, 68, 0.45);
    color: white;
    height: 30px;
    margin-top: 6px;
    border-radius: 10px;
}
.obj[Disabled]
{
    background-color: #b31919;
    border-color: #b31919;
   
}

.objpast{
      background-color: rgb(130, 130, 130);
    border-color: rgba(68, 68, 68, 0.45);
    color: white;
    height: 30px;
    margin-top: 22px;
    width: 168px;
    border-radius: 5px;
    border-color: rgba(158, 158, 158, 0.37);
    margin-left: 80px;
}
.objpast[Disabled]{
   background-color: #b31919;
    border-color: #b31919;
   
}
.objnews{
    background-color: rgb(130, 130, 130);
    border-color: rgba(68, 68, 68, 0.45);
    color: white;
    height: 30px;
    margin-top: 6px;
    border-radius: 10px;
    margin-left: 90px;
}
.objnews[Disabled]
{
    background-color: #b31919;
    border-color: #b31919;

   
}
.eyeicon
{
   float: right; 
   color: #202020!important; 
   font-size: 30px;
}
  .eventsearchbtn{
    background-color: rgba(32, 32, 32, 0.56)  !important;
    border-color: rgba(68, 68, 68, 0.44) !important;
    border-radius: 8px;
    color: #fafafa;
  }
  .myFile
   {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 10px;
   }
.myFile input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}
 .desctextbx{
    width: 320px;
    background-color:#eaeaea;
    padding-left: 10px;
    padding-top: 9px;
  }
  .save{
    color: black;
    font-weight: bold;
  }
  .test{
    border-radius: 5px;
    height: 40px;
    width: 215px;
    background-color: aliceblue;
    margin-left: 15px;
    margin-top: 9px;
  }
.viewnewsbutton1
 {
     background-color: rgba(32, 32, 32, 0.56)  !important;
    border-color: rgba(68, 68, 68, 0.44) !important;
    border-radius: 8px;
    color: #fafafa;
    margin-left: 96px;
    margin-top: 63px;
    height: 48px;
    width: 181px;
}
.infoprog
{
  border-radius: 5px !important;
    width: 54%!important;
    border-style: none;
    background-color: #eaeaea !important;
    margin-left: 1px;
    padding-left: 13px;
     padding-top: 10px;
}
.infoprognesinclude{
   border-radius: 5px !important;
    width: 236px !important;
    border-style: none;
    margin-top: 8px;
    background-color: #eaeaea !important;
    margin-left: -52px;
    padding-left: 2%;
    padding-top: 10px;
  }
.progdatetime
{
  border-radius: 5px;
  background-color:#eaeaea!important;
  border-style: none; 
}
.listborder3
{
    border-bottom-style: hidden;
    border-top-color: white;
 }

 .listborder2
 {
    border-color: white;
 }
 .information{
    background-color:#5b5b5b;
    border-radius: 50%;
  
  
  }
  .bar .button.button-icon {
    font-size: 26px;
}
 .rate{
  
 /* height: 150px;*/
  background-color: black;
  /*margin-top: 1px;
  margin-left: -5px;*/
 }

.wideimage{
    width: 100%;
    margin: 0px;
   /* margin-left: 2px;*/
}
.wishbutton
{
  background-color: rgb(173, 22, 22);
    border-color: rgba(202, 3, 3, 0.45);
    color: white;
    height: 30px;
    margin-top: 1px;
    border-radius: 10px;
    width: 90px;
    margin-left: 108px;
}
.invalid{
  font-size: 15px;
  color: red;
}


